<div id="user_edit_form" style="padding: 10px; height: 400px;">
    <form class="layui-form" action="" lay-filter="user_edit">
        <div class="layui-form-item">
          <label class="layui-form-label" for="id_username">Username<span class="required">*</span></label>
          <div class="layui-input-inline ">
              <input type="text" name="username" lay-verify="username" id="id_username" required class="layui-input" maxlength="20" />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label" for="id_first_name">First Name</label>
          <div class="layui-input-inline ">
              <input type="first_name" name="first_name" lay-verify="first_name" id="id_first_name" class="layui-input" maxlength="25" />
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label" for="id_last_name">Last Name</label>
            <div class="layui-input-inline ">
                <input type="text" name="last_name" lay-verify="last_name" id="id_last_name" class="layui-input" maxlength="25" />
            </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label" for="id_email">Email</label>
                <div class="layui-input-inline ">
                    <input type="text" name="email" lay-verify="email" id="id_email" class="layui-input" maxlength="25" />
                </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">Company<span class="required">*</span></label>
                <div class="layui-input-block" style="width:190px">
                    <select name="company" lay-filter="company" id="user-company" >
                    </select>
                </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">Role</label>
                <div class="layui-input-block" style="width:190px">
                    <select name="groups" lay-filter="groups" id="user-group" >
                    </select>
                </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">Superuser</label>
            <div class="layui-input-block">
                <input type="radio" name="is_superuser" value="0" title="No">
                <input type="radio" name="is_superuser" value="1" title="Yes">
            </div>
        </div>
    </form>
</div>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['form', 'layedit', 'laydate'], function() {
    var form = layui.form,
        layer = layui.layer,
        layedit = layui.layedit,
        laydate = layui.laydate;

    $.ajax({
        url: "/api/companies/",
        dataType: 'json',
        type: "GET",
        data: {'limit': 1000},
        success: function(res_data) {
            data = res_data.data
            $("#user-company").append('<option value="">search or select</option>');
            for (var i = 0; i < data.length; i++) {
                html = "<option value=" + data[i].id + ">" + data[i].company_name + "</option>"
                $("#user-company").append(html);
            }
            form.render('select');
        }
    });
    $.ajax({
        url: "/api/groups/",
        dataType: 'json',
        type: "GET",
        success: function(res_data) {
            data = res_data.data
            $("#user-group").append('<option value="">search or select</option>');
            for (var i = 0; i < data.length; i++) {
                html = "<option value=" + data[i].id + ">" + data[i].name + "</option>"
                $("#user-group").append(html);
            }
            form.render('select');
        }
    });

});

function init_edit_data(data_url) {
    layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //表单初始赋值
      $.ajax({
        url: data_url,
        type: "GET",
        dataType: "json",
        headers: {'content-type':'application/json',},
        success: function(response, status, xhr){
          // console.log(response)
          form.val('user_edit', response)
          if(response.is_superuser === true) {
            $("input[name='is_superuser'][value='1']").attr("checked", true);
          } else {
            $("input[name='is_superuser'][value='0']").attr("checked", true);
          }
          setTimeout(function () {
              form.val('user_edit', response)
          }, 200);
        },
        error: function (response) {
          alert(response.responseText);
        }
      });
    });
}
</script>