{% extends "data_grid.html" %}

{% block special_display %}
  {% verbatim %}
  <script type="text/html" id="is_activeTpl">
    {{#  if(d.is_active === true) { }}
      <a><img title="offline" src="/static/img/icon-yes.gif" style="margin-top: 4px;"></a>
    {{# } else if(d.is_active === false) { }}
      <a><img title="online" src="img/icon-no.gif" style="margin-top: 4px;"></a>
    {{#  } else { }}
      {{ d.is_active }}
    {{#  } }}
  </script>
  <script type="text/html" id="is_superuserTpl">
    {{#  if(d.is_superuser === true) { }}
      <a><img title="not authorized" src="/static/img/icon-yes.gif" style="margin-top: 2px;"></a>
    {{# } else if(d.is_superuser === false) { }}
      <a><img title="offline" src="/static/img/icon-no.gif" style="margin-top: 2px;"></a>
    {{#  } else { }}
      {{ d.is_superuser }}
    {{#  } }}
  </script>
  {% endverbatim %}
{% endblock special_display %}

{% block filter_data %}
  <form class="layui-form" action="">
    <div class="layui-inline">
      <label for="" class="layui-form-label">Username</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_username" type="text" name="{{ model_name }}-filter_username" lay-verify="required"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label for="" class="layui-form-label">Company</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_company_name" type="text" name="{{ model_name }}-filter_company_name" lay-verify="required"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline" style="width:93px; margin-bottom: 7px">
      <div class="layui-input-inline">
        <select name="{{ model_name }}-search_type" id="{{ model_name }}-search_type">
          <option value='search'>Contain</option>
          <option value='exact'>Exact</option>
        </select>
      </div>
    </div>
    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
  </form>
{% endblock filter_data %}
{% block filter_func %}
  <script>
    $('#user-search_btn').on('click', function () {
      let company_name = $("input[name='{{ model_name }}-filter_company_name']").val();
      let username = $("input[name='{{ model_name }}-filter_username']").val();
      let search_type = $('#{{ model_name }}-search_type').val() || null;
      let where = {};
      let curTable = layui.table.thisTable.that['id_grid_user'];
      if (search_type === 'search') {
        where = {
          'company_name_icontains': company_name,
          'username_icontains': username,
        }
      } else {
        where = {
          'company_name': company_name,
          'username': username,
        }
      }
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      let table = layui.table;
      table.reload('id_grid_user', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#user-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-filter_company_name']").val('');
      $("input[name='{{ model_name }}-filter_username']").val('');
    });
  </script>
{% endblock filter_func %}