<style>
    #user_change_password .layui-form-label {width:145px;}
    #user_change_password .layui-input-block {margin-left:145px;}
</style>

{% load i18n %}
<div id="user_change_password" style="margin:15px">
  <form action="" method="post" class="layui-form" lay-filter="user_change_password">
    <div class="layui-form-item">
      <label class="layui-form-label">Old Password<span class="required">*</span></label>
      <div class="layui-input-block">
        <input id="id_old_password" type="password" name="old_password" lay-verify="old_password" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">New password<span class="required">*</span></label>
      <div class="layui-input-block">
        <input id="id_new_password" type="password" name="new_password" lay-verify="new_password" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">Password Confirm<span class="required">*</span></label>
      <div class="layui-input-block">
        <input id="id_confirm_new_password" type="password" name="confirm_new_password" lay-verify="confirm_new_password" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
  </form>
</div>
<script>
</script>

