{% load i18n %}
<div id="area_edit" style="margin:15px">
    <form action="" method="post" class="layui-form" lay-filter="area_edit">
        <div class="layui-form-item">
            <label class="layui-form-label">area code<span class="required">*</span></label>
            <div class="layui-input-block">
              <input id="id_area_id" type="text" name="area_id" lay-verify="area_code" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">area name<span class="required">*</span></label>
            <div class="layui-input-block">
              <input id="id_area_name" type="text" name="area_name" lay-verify="area_code" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
    </form>
</div>
<script>
function init_edit_data(data_url) {
    layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //表单初始赋值
      $.ajax({
        url: data_url,
        type: "GET",
        dataType: "json",
        headers: {'content-type':'application/json',},
        success: function(response, status, xhr){
          // console.log(response)
          form.val('area_edit', response)
        },
        error: function (response) {
          alert(response.responseText);
        }
      });
    });
}
</script>
<!-- <script>
    layui.use(['form', 'laydate'], function(){
        var form = layui.form, laydate=layui.laydate;
        laydate.render({
            elem: '#id_start_time'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#id_end_time'
            ,type: 'datetime'
        });
        $.ajax({
            url: "/att/api/leave_categorys/"
            ,type: "GET"
            ,dataType: "json"
            ,success: function(response){
                var data = response.data
                var html = "";
                for(var i=0; i<data.length; i++){
                    html+='<option value="'+data[i]['id']+'">'+data[i]['category_name']+'</option>';
                }
                $("#id_category").append(html);
                form.render();
            }
            ,error: function(XMLHttpRequest, textStatus, errorThrown){
                console.log(XMLHttpRequest.status)
            }
        })
    })
</script> -->