{% load i18n %}
<div id="area_add" style="margin:15px">
    <form action="" method="post" class="layui-form" lay-filter="area_add">
        <div class="layui-form-item">
            <label class="layui-form-label">area code<span class="required">*</span></label>
            <div class="layui-input-block">
              <input id="id_area_code" type="text" name="area_id" lay-verify="area_code" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">area name<span class="required">*</span></label>
            <div class="layui-input-block">
              <input id="id_area_name" type="text" name="area_name" lay-verify="area_code" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">company<span class="required">*</span></label>
            <div class="layui-input-block">
              <input id="id_company" type="text" name="company" lay-verify="company" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
    </form>
</div>
<script>
function init_edit_data() {
    layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //表单初始赋值
      form.val('area_add', {})
    });
}
</script>