{% extends "data_grid.html" %}

{% block filter_data %}
<form class="layui-form" action="">
    <div class="layui-inline" style="margin-left: -50px">
        <label for="" class="layui-form-label">Start</label>
        <div class="layui-input-inline" style="width:120px;">
            <input type="text" name="{{ model_name }}-start" id="{{ model_name }}-start" lay-verify="start-date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="margin-left: -50px">
        <label for="" class="layui-form-label">End</label>
        <div class="layui-input-inline" style="width:120px;">
            <input type="text" name="{{ model_name }}-end" id="{{ model_name }}-end" lay-verify="end-date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="width:93px; margin-bottom: 7px">
        <div class="layui-input-inline">
            <select name="{{ model_name }}-search_type" id="{{ model_name }}-search_type">
                <option value='search'>Contain</option>
                <option value='exact'>Exact</option>
            </select>
        </div>
    </div>
    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    &nbsp;
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
</form>
{% endblock filter_data %}
{% block filter_func %}
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
      var laydate = layui.laydate;
        //日期
        var date = new Date();
        var startDate = laydate.render({
          elem: '#{{ model_name }}-start',
          type: 'date',
          lang: 'en',
        });
        var endDate = laydate.render({
          elem: '#{{ model_name }}-end',
          type: 'date',
          lang: 'en',
        });
    });


    $('#{{ model_name }}-search_btn').on('click', function () {
      let pin = $("input[name='{{ model_name }}-filter_pin']").val()
      , emp_name = $("input[name='{{ model_name }}-filter_emp_name']").val()
      , sn = $("input[name='{{ model_name }}-filter_sn']").val()
      , search_type = $('#{{ model_name }}-search_type').val() || null
      , start_date = $('#{{ model_name }}-start').val() || null
      , end_date = $('#{{ model_name }}-end').val() || null
      , where = {}
      , table = layui.table
      , curTable = layui.table.thisTable.that['id_grid_{{ model_name }}'];
      if (search_type === 'search') {
        where = {
          'start_date': start_date,
          'end_date': end_date
        }
      } else {
        where = {
          'start_date': start_date,
          'end_date': end_date
        }
      }
      console.log(where)
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      table.reload('id_grid_{{ model_name }}', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#{{ model_name }}-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-start']").val('');
      $("input[name='{{ model_name }}-end']").val('');
    });
  </script>
{% endblock filter_func %}