{% extends "data_grid.html" %}
{% block filter_data %}
  <form class="layui-form" action="">
    <div class="layui-inline">
      <label for="" class="layui-form-label">Device SN</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_sn" type="text" name="{{ model_name }}-filter_sn"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>

    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
  </form>
{% endblock filter_data %}
{% block filter_func %}
  <script>
    $('#{{ model_name }}-search_btn').on('click', function () {
      var sn = $("input[name='{{ model_name }}-filter_sn']").val();
      var where = {};
      curTable = layui.table.thisTable.that['id_grid_{{ model_name }}'];
      where = {
        'sn': sn,
      }
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      var table = layui.table;
      table.reload('id_grid_{{ model_name }}', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#{{ model_name }}-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-filter_sn']").val('');
    });
  </script>
{% endblock filter_func %}