{% extends "data_grid.html" %}
{% block filter_data %}
<form class="layui-form" action="">
    <div class="layui-inline">
        <label for="" class="layui-form-label">Employee ID</label>
        <div class="layui-input-inline" style="width:120px;">
            <input id="{{ model_name }}-filter_pin" type="text" name="{{ model_name }}-filter_pin" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--     <div class="layui-inline">
      <label for="" class="layui-form-label">Name</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_emp_name" type="text" name="{{ model_name }}-filter_emp_name"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div> -->
    <div class="layui-inline" style="margin-left: -50px">
        <label for="" class="layui-form-label">SN</label>
        <div class="layui-input-inline" style="width:120px;">
            <input id="{{ model_name }}-filter_sn" type="text" name="{{ model_name }}-filter_sn" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="margin-left: -50px">
        <label for="" class="layui-form-label">Start</label>
        <div class="layui-input-inline" style="width:120px;">
            <input type="text" name="{{ model_name }}-start" id="{{ model_name }}-start" lay-verify="start-date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="margin-left: -50px">
        <label for="" class="layui-form-label">End</label>
        <div class="layui-input-inline" style="width:120px;">
            <input type="text" name="{{ model_name }}-end" id="{{ model_name }}-end" lay-verify="end-date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline" style="width:93px; margin-bottom: 7px">
        <div class="layui-input-inline">
            <select name="{{ model_name }}-search_type" id="{{ model_name }}-search_type">
                <option value='search'>Contain</option>
                <option value='exact'>Exact</option>
            </select>
        </div>
    </div>
    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    &nbsp;
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
</form>
{% endblock filter_data %}
{% block filter_func %}
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
      var laydate = layui.laydate;
        //日期
        var date = new Date();
        var startDate = laydate.render({
          elem: '#{{ model_name }}-start',
          type: 'date',
          lang: 'en',
        });
        var endDate = laydate.render({
          elem: '#{{ model_name }}-end',
          type: 'date',
          lang: 'en',
        });
    });


    var model_name = grid_data.model_name;
    $('#transaction-search_btn').on('click', function () {
      let pin = $("input[name='{{ model_name }}-filter_pin']").val()
      , emp_name = $("input[name='{{ model_name }}-filter_emp_name']").val()
      , sn = $("input[name='{{ model_name }}-filter_sn']").val()
      , search_type = $('#{{ model_name }}-search_type').val() || null
      , start_date = $('#{{ model_name }}-start').val() || null
      , end_date = $('#{{ model_name }}-end').val() || null
      , where = {}
      , table = layui.table
      , curTable = layui.table.thisTable.that['id_grid_transaction'];
      if (search_type === 'search') {
        where = {
          'pin_icontains': pin,
          'emp_name_icontains': emp_name,
          'sn_icontains': sn,
          'start_date': start_date,
          'end_date': end_date
        }
      } else {
        where = {
          'pin': pin,
          'emp_name': emp_name,
          'sn': sn,
          'start_date': start_date,
          'end_date': end_date
        }
      }
      console.log(where)
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      table.reload('id_grid_' + model_name, {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#transaction-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-filter_pin']").val('');
      $("input[name='{{ model_name }}-filter_emp_name']").val('');
      $("input[name='{{ model_name }}-filter_sn']").val('');
      $("input[name='{{ model_name }}-start']").val('');
      $("input[name='{{ model_name }}-end']").val('');
    });
  </script>
{% endblock filter_func %}
{% block special_func %}
<script>
    var table = layui.table
    layui.use(['form', 'table'], function(){
      var table = layui.table;
      let model_name = grid_data.model_name;
      table.on('row(' + model_name + ')', function(obj){
          // console.log(obj.tr) //得到当前行元素对象
          // console.log(obj.data) //得到当前行数据
          let data = obj.data
          $("#id_employeeCapture").attr('src', data.att_photo);
          $("#pinPanel").html(data.pin);
          $("#emp_namePanel").html(data.emp_name);
          $("#datePanel").html(data.time.split(' ')[0]);
          $("#timePanel").html(data.time.split(' ')[1]);
          $("#statusPanel").html(data.status);
          $("#verifyPanel").html(data.verify);
          $("#workcodePanel").html(data.workcode);
          $("#snPanel").html(data.sn);
          $("#area_namePanel").html(data.area_name);
          var depart_name = ''
          if (data.depart_name === 'Default Department') {
              depart_name = 'Default'
          } else {
              depart_name = data.depart_name
          }
          $("#depart_namePanel").html(depart_name);
      });

    });
</script>
{% endblock special_func %}
{% block main_body %}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md10">
        <table id="id_grid_{{ model_name }}" class="layui-hide" lay-filter="{{ model_name }}"></table>
        <script type="text/html" id="{{ model_name }}_toolbar">
            <div class="layui-btn-container grid-toolbar" style="">
                <ul class="layui-nav"></ul>
            </div>
        </script>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header" style="background-color: #e7e7e7"> att photo</div>
            <div class="layui-card-body">
                <div>
                    <div style="padding: 5px" align="center">
                        <img id="id_employeeCapture" class="transaction-capture" src='/static/img/userImage.gif'
                   onerror="this.src='/static/img/userImage.gif';" alt="">
                    </div>
                        <div>
                            <table id="capture-detail" class="captureRowPanel">
                                <tbody>
                                    <tr>
                                        <th>Employee</th>
                                        <td>
                                            <div id="pinPanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>
                                            <div id="emp_namePanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date</th>
                                        <td>
                                            <div id="datePanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Time</th>
                                        <td>
                                            <div id="timePanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ATT Status</th>
                                        <td>
                                            <div id="statusPanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Verification</th>
                                        <td>
                                            <div id="verifyPanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Work Code</th>
                                        <td>
                                            <div id="workcodePanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Device</th>
                                        <td>
                                            <div id="snPanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Area</th>
                                        <td>
                                            <div id="area_namePanel">-</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Department</th>
                                        <td>
                                            <div id="depart_namePanel">-</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}