<div style="padding: 10px;min-height: 300px;min-width: 450px">
  <form class="layui-form action-form" action method="post" id="{{ model_name }}_import">
        <div class="layui-form-item field-import_file">
            <label class="layui-form-label" for="id_import_file">Import File</label>
            <div class="layui-input-inline ">
                <input type="file" name="import_file" lay-data="{accept: 'file'}" required="" id="id_import_file">
            </div>
            <br />
            <div class="layui-form-mid layui-word-aux">File formal: sn_attlog.dat</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Existing Data</label>
            <div class="layui-input-inline">
                <select name="import_type" id="id_import_type">
                    <option value="ignore" selected="">Ignore</option>
                    <option value="overwrite">Overwrite</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Employee not exist</label>
            <div class="layui-input-inline">
                <select name="emp_not_exist" id="id_emp_not_exist">
                    <option value="ignore" selected="">Ignore</option>
                    <option value="prompt">Prompt</option>
                </select>
            </div>
        </div>
<!--         <div class="layui-form-item">
          <div class="layui-inline field-company">
            <label class="layui-form-label">Company</label>
            <div class="layui-input-block" style="width:190px">
              <select name="import_company" lay-filter="aihao" id="id_import_company" lay-search="">
              </select>
            </div>
          </div>
        </div> -->
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 0px;min-height: 24px;">Description
            </div>
            <div class="layui-input-block" style="margin-left: 20px;">
                <p>1.file name must be sn_attlog.dat</p>
            </div>
        </div>
    </form>
</div>
<script>

    $.ajax({
      url: "/api/companies/"
      , dataType: 'json'
      , type: "GET"
      , data: {'limit': 1000}
      , success: function (data1) {
        var data = data1.data;
        // $("#id_import_company").append('<option value="">search or select</option>');
        // $("#area-company").html('')
        for (var i = 0; i < data.length; i++) {
          var html = "<option value='" + data[i].id + "'>" + data[i].company_name + "</option>";
          $("#id_import_company").append(html);
        }
        layui.form.render('select');
      }
    });

</script>
