{% load i18n %}
<div id="transaction_delete_att_photo" style="margin:15px">
    <form action="" method="post" class="layui-form" lay-filter="transaction_delete_att_photo">
<!--         <div class="layui-form-item">
            <label for="" class="layui-form-label">SN</label>
            <div class="layui-input-inline" style="width:120px;">
                <input id="filter_sn" type="text" name="filter_sn" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div> -->
        <div class="layui-form-item">
            <label for="" class="layui-form-label">Date Start</label>
            <div class="layui-input-inline" style="width:120px;">
                <input type="text" name="date_start" id="date-start" lay-verify="start-date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">Date End</label>
            <div class="layui-input-inline" style="width:120px;">
                <input type="text" name="date_end" id="date-end" lay-verify="end-date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
      var laydate = layui.laydate;
        //日期
        var date = new Date();
        var startDate = laydate.render({
          elem: '#date-start',
          type: 'date',
          lang: 'en',
        });
        var endDate = laydate.render({
          elem: '#date-end',
          type: 'date',
          lang: 'en',
        });
    });
</script>