{% load i18n %}
<div id="transaction_delete_filtered_data" style="margin:15px">
    <form action="" method="post" class="layui-form" lay-filter="transaction_delete_filtered_data">
        <div>
            <p>Find data count: <span id='filtered_data_count' class="required"></span></p>
            <br />
            <p>Are you sure to delete all filtered data?</p>
            <br />
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="radio" name="delete_filtered_data" value="0" title="No" checked="">
                <input type="radio" name="delete_filtered_data" value="1" title="Yes">
            </div>
        </div>
        <div>
            <br />
            <p>This is a very <span id='filtered_data_count' class="required"> dangerous </span>operation.</p>
            <p>It will delete all the filterd data.</p>
            <p>If you really want to do it.</p>
            <p>Confirm again please.</p>
            <br />
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="radio" name="delete_confirm" value="0" title="No" checked="">
                <input type="radio" name="delete_confirm" value="1" title="Yes">
            </div>
        </div>
    </form>
</div>
<script>
layui.use(['form', 'layedit', 'laydate'], function() {
    var form = layui.form,
        layer = layui.layer,
        layedit = layui.layedit,
        laydate = layui.laydate;

    var url_params = {'delete_type': 'get_delete_count'}
    $.extend(url_params, get_layui_table_config('transaction').where)
    var base_url = "/api/transactions/delete_filtered_data/"

    $.ajax({
      url: concatenate_url(base_url, url_params)
      ,dataType: 'json'
      ,type: "POST"
      , data: {'delete_filtered_data': 0}
      ,success:function(res_data){
          $("#filtered_data_count").html(res_data.detail);
      }
    });
});
</script>