{% extends "data_grid.html" %}
{% block filter_data %}
  <form class="layui-form" action="">
    <div class="layui-inline">
      <label for="" class="layui-form-label">Area ID</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_area_id" type="text" name="{{ model_name }}-filter_area_id"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label for="" class="layui-form-label">Area Name</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_area_name" type="text" name="{{ model_name }}-filter_area_name"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label for="" class="layui-form-label">Company</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_company" type="text" name="{{ model_name }}-filter_company"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline" style="width:93px; margin-bottom: 7px">
      <div class="layui-input-inline">
        <select name="{{ model_name }}-search_type" id="{{ model_name }}-search_type">
          <option value='search'>Contain</option>
          <option value='exact'>Exact</option>
        </select>
      </div>
    </div>
    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
  </form>
{% endblock filter_data %}
{% block filter_func %}
  <script>
    $('#area-search_btn').on('click', function () {
      var area_id = $("input[name='{{ model_name }}-filter_area_id']").val();
      var area_name = $("input[name='{{ model_name }}-filter_area_name']").val();
      var company = $("input[name='{{ model_name }}-filter_company']").val();
      var search_type = $('#{{ model_name }}-search_type').val() || null;
      var where = {};
      if (search_type === 'search') {
        where = {
          'area_id_icontains': area_id,
          'area_name_icontains': area_name,
          'company_name_icontains': company
        }
      } else {
        where = {
          'area_id': area_id,
          'area_name': area_name,
          'company_name': company
        }
      }

      let curTable = layui.table.thisTable.that['id_grid_{{ model_name }}'];
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      var table = layui.table;
      table.reload('id_grid_{{ model_name }}', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#{{ model_name }}-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-filter_area_id']").val('');
      $("input[name='{{ model_name }}-filter_area_name']").val('');
      $("input[name='{{ model_name }}-filter_company']").val('');
    });
  </script>
{% endblock filter_func %}