<div style="padding: 10px;min-height: 300px;min-width: 450px">
  <form class="layui-form action-form" action method="post" id="{{ model_name }}_import">
        <div class="layui-form-item field-import_file">
            <label class="layui-form-label" for="id_import_file">Import File</label>
            <div class="layui-input-inline ">
                <input type="file" name="import_file" lay-data="{accept: 'file'}" required="" id="id_import_file">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block layui-form-mid layui-word-aux">Support .csv or .xls file only</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Existing Data</label>
            <div class="layui-input-inline">
                <select name="import_type" id="id_import_type">
                    <option value="ignore" selected="">Ignore</option>
                    <option value="overwrite">Overwrite</option>
                </select>
            </div>
            <label class="layui-form-label">File Format</label>
            <div class="layui-input-inline">
                <select name="file_format" id="id_file_format" lay-filter="file_format">
                  <option value="csv">csv</option>
                  <option value="xls">xls</option>
                </select>
            </div>
        </div>
<!--         <div class="layui-form-item">
          <div class="layui-inline field-company">
            <label class="layui-form-label">Company</label>
            <div class="layui-input-block" style="width:190px">
              <select name="import_company" lay-filter="aihao" id="id_import_company" lay-search="">
              </select>
            </div>
          </div>
        </div> -->
        <div class="layui-form-item">
            <label class="layui-form-label"
                   style="width: 150px;text-align: left">Template Demo:</label>
            <div class="layui-input-inline" style="float: right">
                <a target="_blank" style="color: #01AAED;" id="download_tem"
                   href="/api/areas/import_template/"><i
                        class="fa fa-download"></i>Download Template</a>
            </div>
        </div>
        <div class="layui-form-item">
            <table class="layui-hide" id="demo"></table>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block"
                 style="margin-left: 0;min-height: 24px;">Description</div>
            <div class="layui-input-block" style="margin-left: 20px;">
                <p>1.The heads in file template are required</p>
                <p>2.The Area ID,Area Name,Company ID is required fields</p>
                <p>3.All column value should be text format</p>
            </div>
        </div>
    </form>
</div>
<script>
  layui.use(['table', 'form'], function () {
    var table = layui.table
      , form = layui.form;
    table.render({
      elem: '#demo'
      , cellMinWidth: 80
      , cols: [[
        {field: 'no', width: '32', title: ''}
        , {field: 'area_id', width: '196', title: 'A'}
        , {field: 'area_name', width: '196', title: 'B'}
        , {field: 'company_id', width: '196', title: 'C'}
      ]]
      , data: [{
        "no": "1"
        , "area_id": "Area ID"
        , "area_name": "Area Name"
        , "company_id": "Company ID"
      }, {
        "no": "2"
        , "area_id": "1"
        , "area_name": "area1"
        , "company_id": "1"
      }, {
        "no": "3"
       , "area_id": "2"
        , "area_name": "area2"
        , "company_id": "1"
      }, {
        "no": "4"
        , "area_id": "3"
        , "area_name": "area3"
        , "company_id": "1"
      }]
    });


    form.on('select(file_format)', function (data) {
      var file_format = data.value
      , tem = document.getElementById('download_tem');
      tem.href = '/api/areas/import_template/?file_format=' + file_format;
      form.render();
    })

  });
</script>