{% load i18n %}
<div id="area_add" style="padding: 20px; width: 600px;">
  <form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item">
      <label class="layui-form-label" style="margin-top: 7px">Migrate From</label>
      <div class="layui-input-block">
        <input type="radio" name="migrate_from" value="wdms5" title="WDMS5" checked="">
        <input type="radio" name="migrate_from" value="wdms6" title="WDMS6.x (x<6)">
      </div>
    </div>

    <div class="layui-form-item" style="width: 300px;">
      <label class="layui-form-label">Database Type</label>
      <div class="layui-input-block">
        <select name="database_type" lay-filter="aihao">
          <option value="">--------</option>
          <option value="sqlserver">SQL Server</option>
          <option value="mysql">MySQL</option>
          <option value="postgresql">PostgreSQL</option>
        </select>
      </div>
    </div>

    <div class="layui-form-item" style="width: 300px;">
      <label class="layui-form-label">Host</label>
      <div class="layui-input-block">
        <input type="text" name="host" lay-verify="host" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item" style="width: 300px;">
      <label class="layui-form-label">Port</label>
      <div class="layui-input-block">
        <input type="text" name="port" lay-verify="port" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item" style="width: 300px;">
      <label class="layui-form-label">User Name</label>
      <div class="layui-input-block">
        <input type="text" name="user" lay-verify="username" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item" style="width: 300px;">
      <label class="layui-form-label">Password</label>
      <div class="layui-input-block">
        <input type="text" name="password" lay-verify="password" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item" style="width: 300px;">
      <label class="layui-form-label">Database</label>
      <div class="layui-input-block">
        <input type="text" name="database" lay-verify="database" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
    
    <div class="layui-form-item">
      <label class="layui-form-label">Migrate Field</label>
      <div class="layui-input-block">
        <input type="checkbox" name="migrate_field[area]" title="Area" checked>
        <input type="checkbox" name="migrate_field[department]" title="Department" checked>
        <input type="checkbox" name="migrate_field[employee]" title="Employee" checked>
        <input type="checkbox" name="migrate_field[device]" title="Device" checked>
        <input type="checkbox" name="migrate_field[transaction]" title="Transaction" checked>
      </div>
    </div>
   
    <div class="layui-form-item">
      <div class="layui-input-block">
        <!-- <button class="layui-btn" lay-submit="" lay-filter="migrate">Mgration</button> -->
        <button class="layui-btn" lay-submit="" lay-filter="test_conn">Test</button>
        <button class="layui-btn" lay-submit="" lay-filter="clear">Clear</button>
      </div>
    </div>
  </form>
</div>

<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit;


  //监听提交
  form.on('submit(test_conn)', function(data){
    console.log(JSON.stringify(data.field))
    layer.load(1, {})
    $.ajax({
      url: '/api/migration/test_conn/',
      type: "POST",
      data: JSON.stringify(data.field),
      dataType: "json",
      headers: {'content-type':'application/json'},
      success: function(response){
        console.log(response);
        layer.closeAll('loading');
        layer.msg(response.detail, {time: 1000, icon: 1});
      },
      error: function (response) {
        layer.closeAll('loading');
        var res_msg = JSON.parse(response.responseText)
        var display_msg = ''
        for (var prop in res_msg) {
          display_msg += '<p>' + prop + ": " + res_msg[prop] + '</p>'
          $('form input[name="' + prop + '"]').addClass('layui-form-danger');
          $('form select[name="' + prop + '"]').addClass('layui-form-danger');
        }
        layer.msg(display_msg, {'icon': 0})
      }
    });
    return false;
  });


    //监听提交
  form.on('submit(clear)', function(data){
    layer.load(1, {})
    $.ajax({
      url: '/api/migration/clear/',
      type: "POST",
      data: "",
      dataType: "json",
      headers: {'content-type':'application/json'},
    });
    layer.closeAll('loading');
    layer.msg('Success', {time: 1000, icon: 1});
    return false;
  });

  
  
  //监听提交
  form.on('submit(migrate)', function(data){
    console.log(JSON.stringify(data.field))
    layer.load(1, {})
    $.ajax({
      url: '/api/migration/migrate/',
      type: "POST",
      data: JSON.stringify(data.field),
      dataType: "json",
      headers: {'content-type':'application/json'},
      success: function(response){
        console.log(response);
        layer.closeAll('loading');
        layer.alert(response.detail, {icon: 1, btn: ['ok'], title: 'message'});
      },
      error: function (response) {
        layer.closeAll('loading');
        var res_msg = JSON.parse(response.responseText)
        var display_msg = ''
        for (var prop in res_msg) {
          display_msg += '<p>' + prop + ": " + res_msg[prop] + '</p>'
          $('form input[name="' + prop + '"]').addClass('layui-form-danger');
          $('form select[name="' + prop + '"]').addClass('layui-form-danger');
        }
        layer.msg(display_msg, {'icon': 0})
      }
    });
    return false;
  });

  $.ajax({
    url: "/api/migration/"
    , dataType: 'json'
    , type: "GET"
    , success: function (response) {
      form.val('example', response)
    }
  });
});
</script>

