<!-- <div id="employee_edit_form" style="padding: 10px; height: 390px;">
</div> -->
<div id="group_edit" style="padding: 20px; padding-right:50px; height: 390px; width: 570px;">
    <form action="" method="post" class="layui-form" lay-filter="group_edit">
        <div class="layui-form-item">
            <label class="layui-form-label">Role Name<span class="required">*</span></label>
            <div class="layui-input-block">
                <input id="id_group_name" type="text" name="name" lay-verify="group_name" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" for="id_permissions">Permissions<span class="required">*</span></label>
            <!-- 这里的xm-select属性是多选的ID, 如多处使用请保证全局唯一 -->
            <div class="layui-input-inline " style="width: 370px;">
                <script src="/static/jslib/formSelects-v4.js"></script>
                <select id='group-permission' name="permissions" xm-select="edit-perm-select-id" xm-select-height="24px">
                </select>
            </div>
        </div>
    </form>
</div>
<script>
layui.use(['form', 'layedit', 'laydate'], function() {
    var form = layui.form,
        layer = layui.layer,
        layedit = layui.layedit,
        laydate = layui.laydate;

    $.ajax({
        url: "/api/permissions/",
        dataType: 'json',
        type: "GET",
        data: {'limit': 1000},
        success: function(res_data) {
            data = res_data.data
            $("#group-permission").append('<option value="">search or select</option>');
            for (var i = 0; i < data.length; i++) {
                html = "<option value=" + data[i].id + ">" + data[i].content_type_model +' | '+ data[i].name + "</option>"
                $("#group-permission").append(html);
            }
            layui.formSelects.render();
        }
    });
});

function init_edit_data(data_url) {
    layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //表单初始赋值
      $.ajax({
        url: data_url,
        type: "GET",
        dataType: "json",
        headers: {'content-type':'application/json',},
        success: function(response, status, xhr){
          form.val('group_edit', response)
          console.log(response.permissions)
          setTimeout(function () {
            layui.formSelects.value('edit-perm-select-id', response.permissions);
          }, 200);
        },
        error: function (response) {
          alert(response.responseText);
        }
      });
    });
}
</script>