{% load staticfiles %}
{% block filter_data %}
{% endblock filter_data %}
<div id="tab_{{ model_name }}">
  <div class="layui-fluid" id="{{ model_name }}_fluid">
    <div class="layui-card">
      <div class="layui-card-body module" >
        {% block main_body %}
          <table id="id_grid_{{ model_name }}" class="layui-hide" lay-filter="{{ model_name }}"></table>
          <script type="text/html" id="{{ model_name }}_toolbar">
            <div class="layui-btn-container grid-toolbar" style="">
              <ul class="layui-nav"></ul>
            </div>
          </script>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<script>
  {% block dimension_info %}
    var dimension = {
      height: 'auto',
      width: 'auto'
    };
  {% endblock dimension_info %}

  var callback = {
    new: undefined, // each item has two categories of call: done and fail, respectively.
    edit: undefined,
    delete: undefined,
    actions: undefined  // general callback for action
  };

  // 通过模板直接传递json数据给前端
  var grid_data = {{ grid_data|safe }};

  $(function () {
    var res = grid_data;
    var model_name = res.model_name;
    $('#tab_' + model_name).dataGrid({
      url: res.data_url,
      model: model_name,
      dimension: dimension, callback: callback,
      del_url: res.del_url, edit_url: res.edit_url, export_url: res.export_url,
      disabled_fields_url: res.disabled_fields_url,
      table_id: "id_grid_" + model_name, table_elem: "#id_grid_" + model_name,
      toolbar_id: "#" + model_name + "_toolbar", fluid_container: "#" + model_name + "_fluid",
      grid_opts: res['grid_opts'], actions: res['action_choices'],
      all_perms: res['all_perms'], init_disabled_fields: res['disabled_fields']
    });
  });

</script>


{% block special_display %}
  {% verbatim %}
  <script type="text/html" id="">
  </script>
  {% endverbatim %}
{% endblock special_display %}

{% block filter_func %}
  <script>
  </script>
{% endblock filter_func %}

{% block special_func %}
  <script>
  </script>
{% endblock special_func %}

<script type="text/html" id="model_{{ model_name }}_toolbar">
  <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="fa fa-pencil-square-o data-edit-i"></i></a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="fa fa-trash-o data-edit-i"></i></a>
</script>