<!DOCTYPE html>

<html lang="zh-cn">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="Author" content="ZKTeco Inc.">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <title>WDMS</title>
    <!--JS-->
    <script src="/static/jslib/locales/i18n.js?v=1.2"></script>
    <script src="/static/jslib/locales/i18n_en.js?v=1.2"></script>
    <script src="/static/jslib/jquery-ui/jquery-2.2.4.min.js?v=2.2.4"></script>
    <script src="/static/jslib/jquery.form.js?v=4.2.2"></script>
    <script src="/static/jslib/utf8.js?v=3.0.0"></script>
    <script src="/static/jslib/cookies.js"></script>
    <!--Static-->
    <link rel="shortcut icon" href="/static/images/WDMS.ico" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <link rel="stylesheet" id="css_base" type="text/css" href="/static/css/base.css">
    <!--suppress JSUnresolvedVariable -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/layui/css/layui.css?v=2.4.3">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/layui.widgets.min.css?v=2.4.3">
    <link rel="stylesheet" type="text/css" href="/static/css/sf.min.css?v=11.019">
    <link rel="stylesheet" type="text/css" href="/static/css/model.min.css">
    <link rel="stylesheet" type="text/css" href="/static/jslib/multi-switch/multi-switch.min.css?v=1.1.1">
    <link rel="stylesheet" type="text/css" href="/static/css/xadmin.main.min.css"><!--  -->
    <!-- Use Awesome Style for zTree -->
    <link rel="stylesheet" type="text/css" href="/static/css/awesomeStyle/awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/awesomeStyle/awesome.extended.min.css"><!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layui.admin.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-datepicker/css/datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-clockpicker/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/filters.min.css?v=1.1.1">
    <link id="layuicss-layer" rel="stylesheet" href="/static/layui/css/modules/layer/default/layer.css?v=3.1.1" media="all">
    <link id="layuicss-laydate" rel="stylesheet" href="/static/layui/css/modules/laydate/default/laydate.css?v=5.0.9" media="all">
    <link href="/static/css/formSelects-v4.css" rel="stylesheet" />
    <link href="/static/css/treeselect.css" rel="stylesheet">
</head>

<body class="">
    <!-- 自动转义开始 -->
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header header" style="background-color: #04a999;">
            <ul class="layui-nav layui-layout-left layui-nav-menu" lay-filter="nav-menu" id="applist">
                <li class="layui-nav-item">
                    <div class="layui-nav-logo top_logo_focus">
                        <img src="/static/img/att/logo.png"></a></div>
                </li><span class="layui-nav-bar layui-hide" style="width: 0px; left: 0px; opacity: 0;"></span>
                <li class="layui-nav-item">
                    <div class="menu_module layui-this"><a id='main-menu-personnel' href="javascript:void(0);" app="personnel">Data</a></div>
                </li>
                <li class="layui-nav-item">
                    <div class="menu_module"><a href="javascript:void(0);" app="base">System</a></div>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="system-menu">
                <li class="layui-nav-item"><em>Welcome &nbsp; {{ user_name }}</em></li>
                <li class="layui-nav-item" style="margin-left: -5px;"><a href="javascript:void(0);" event="license" title="License Info"><img border="0" align="top" alt="about" src="/static/img/att/about.png" onmouseout="$(this).attr('src','/static/img/att/about.png')" onmouseover="$(this).attr('src','/static/img/att/about1.png')"></a></li>
                <li class="layui-nav-item" style="margin-left: -25px;"><a id="btn_change_pwd" href="javascript:void(0);" event="changePassword" ref="/user/change_password/" title="Change Password"><img border="0" align="top" alt="chpwd" src="/static/img/att/me.png" onmouseout="$(this).attr('src','/static/img/att/me.png')" onmouseover="$(this).attr('src','/static/img/att/me1.png')"></a></li>
                <li class="layui-nav-item" style="margin-left: -25px;"><a href="javascript:void(0);" title="Logout" event="logout" ref="/logout/"><img border="0" align="top" alt="logout" src="/static/img/att/logout.png" onmouseout="$(this).attr('src','/static/img/att/logout.png')" onmouseover="$(this).attr('src','/static/img/att/logout1.png')"></a></li><span class="layui-nav-bar layui-hide"></span>
            </ul>
        </div>
        <div class="layui-side layui-bg-black" id="left_menu"><a href="javascript:void(0);" class="layui-hide-xs"><div class="zk-switch-menu"><i class="fa fa-fw fa-outdent"></i></div></a>
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="admin-nav" style="margin-right: 10px;" id="grouplist"><span class="layui-nav-bar layui-hide" style="height: 0px; top: 0px; opacity: 0;"></span>
                    <li class="layui-nav-item side-menu-group" app="personnel" title="Device" style="display: block;"><a href="javascript:void(0);"><i class="menu-icon fa fa-fw fa fa-cubes"></i><span>Device</span><span class="layui-nav-more"></span></a>
                        {% if browse_perms.iclock %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="device" link="/device/iclock/" title="Device" class=""><i class="layui-icon"></i><span>Device</span></a></dd>
                        </dl>
                        {% endif %}
                        {% if browse_perms.workcode %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="workcode" link="/device/workcode/" title="Workcode" class=""><i class="layui-icon"></i><span>Work Code</span></a></dd>
                        </dl>
                        {% endif %}
                        {% if browse_perms.message %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="message" link="/device/message/" title="Message" class=""><i class="layui-icon"></i><span>Message</span></a></dd>
                        </dl>
                        {% endif %}
                    </li>
                    <li class="layui-nav-item side-menu-group" app="personnel" title="Personnel" style="display: block;"><a href="javascript:void(0);"><i class="menu-icon fa fa-fw fa-users"></i><span>Personnel</span><span class="layui-nav-more"></span></a>
                        {% if browse_perms.area %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="area" link="/data/area/" title="Area" class=""><i class="layui-icon"></i><span>Area</span></a></dd>
                        </dl>
                        {% endif %}
                        {% if browse_perms.department %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="department" link="/data/department/" title="Department" class=""><i class="layui-icon"></i><span>Department</span></a></dd>
                        </dl>
                        {% endif %}
                        {% if browse_perms.employee %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="employee" link="/data/employee/" title="Department" class=""><i class="layui-icon"></i><span>Employee</span></a></dd>
                        </dl>
                        {% endif %}
                        {% if browse_perms.transaction %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="transaction" link="/data/transaction/" title="Department" class=""><i class="layui-icon"></i><span>Transaction</span></a></dd>
                        </dl>
                        {% endif %}
                    </li>
                    <li class="layui-nav-item side-menu-group" app="personnel" title="Log" style="display: block;"><a href="javascript:void(0);"><i class="menu-icon fa fa-fw fa-history"></i><span>Log</span><span class="layui-nav-more"></span></a>
                        {% if browse_perms.company %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="adminlog" link="/log/adminlog/" title="AdminLog" class=""><i class="layui-icon"></i><span>Admin Log</span></a></dd>
                        </dl>
                        {% endif %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="monitor" link="/log/monitor/" title="Monitor" class=""><i class="layui-icon"></i><span>Monitor</span></a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item side-menu-group" app="base" title="System user" style="display: none;"><a href="javascript:void(0);"><i class="menu-icon fa fa-fw fa fa-cubes"></i><span>System</span><span class="layui-nav-more"></span></a>
                        {% if browse_perms.company %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="company" link="/data/company/" title="Company" class=""><i class="layui-icon"></i><span>Company</span></a></dd>
                        </dl>
                        {% endif %}
                    </li>
                    <li class="layui-nav-item side-menu-group" app="base" title="System user" style="display: none;"><a href="javascript:void(0);"><i class="menu-icon fa fa-fw fa-group"></i><span>User</span><span class="layui-nav-more"></span></a>
                        {% if browse_perms.group %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="group" link="/authentication/group/" title="Role" class=""><i class="layui-icon"></i><span>Role</span></a></dd>
                        </dl>
                        {% endif %}
                        {% if browse_perms.user %}
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="user" link="/authentication/user/" title="User" class=""><i class="layui-icon"></i><span>User</span></a></dd>
                        </dl>
                        {% endif %}

                    </li>
                    <li class="layui-nav-item side-menu-group" app="base" title="Database" style="display: none;"><a href="javascript:void(0);"><i class="menu-icon fa fa-fw fa-database"></i><span>Database</span><span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd class=""><a href="javascript:void(0);" hex="migrate" link="/data/migrate/" title="Mitrate" class=""><i class="layui-icon"></i><span>Migrate</span></a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main_body" class="layui-body layui-hide">
            <div class="layui-progress" lay-filter="pace">
                <div class="layui-progress-bar layui-bg-blue" style="width: 0%;"></div>
            </div>
            <div class="layui-tab layui-tab-card" lay-allowclose="true" lay-filter="zkTab" id="zk-layui-tab">
                <ul class="layui-tab-title" id="zk-layui-tab-ul"></ul>
                <div class="layui-tab-content"></div>
            </div>
        </div>
        <div id="popup-menu">
            <div class="side-menu-submenu side-menu-submenu-popup side-menu-dark">
                <ul class="side-menu side-menu-sub side-menu-vertical" role="menu"></ul>
            </div>
        </div>
    </div>
    <script>
    $(function() {
        $('body').adminSite({
            base_path: '/static/extends/',
            menu: [],
            logout_url: "/logout/",
            pin_tab_url: "/pin_tab/",
        });
    });

    $.ajaxSetup({
        beforeSend: function(xhr) {
            if (!arguments[1]['contentType'] === false) {
                xhr.setRequestHeader('content-type', 'application/json');
            }
            xhr.setRequestHeader("Authorization", Cookies.get("auth-token"));
        }
    });



    $(function() {
        //.ajaxError事件定位到document对象，文档内所有元素发生ajax请求异常，都将冒泡到document对象的ajaxError事件执行处理，ajax方法中有error，先处理error，再冒泡到此处的error
        $(document).ajaxError(
            //所有ajax请求异常的统一处理函数，处理
            function(event, xhr, options, exc) {
                if (xhr.status == 'undefined') {
                    return;
                }
                switch (xhr.status) {
                    case 401:
                        window.location.href = '/login/'
                        break;
                    case 403:
                        console.log(xhr.responseText)
                        layer.msg('Permission denied', {time: 2000});
                        break;
                    case 404:
                        alert("404 Not Found");
                        break;
                }
            }
        );
    });

    $(document).ready(function() {
        setTimeout(function() {
            $('#main-menu-personnel').trigger('click');
        }, 1000);
    });
    </script><!-- 自动转义结束 -->
    <!-- JS --->
    <script src="/static/jslib/base.js?v=0.3"></script>
    <script src="/static/jslib/core.js?v=0.4"></script>
    <script src="/static/layui/layui.js?v=2.4.5" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap-clockpicker/bootstrap-clockpicker.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap-menu/BootstrapMenu.min.js?v=1.1" type="text/javascript"></script>
    <script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/static/jslib/xadmin.plugin.filters_standalone.js?v=1.6"></script>
    <script src="/static/jslib/actions.js?v=1.5"></script>
    <script src="/static/jslib/data_grid.js?v=1.4"></script>
    <script src="/static/jslib/admin_site.js?v=1.1"></script>
    <script src="/static/jslib/treeselect.js"></script>
    <div class="layui-layer-move"></div>
</body>

</html>