.multi-switch {
  width: 30px;
  display: inline-block;
  margin-right: 5px;
  user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.multi-switch * {
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s
}

.multi-switch .switch-content {
  /*#d97c6f, */
  background: #ff5722 0 0;
  height: 16px;
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -ms-border-radius: 16px
}

.multi-switch .switch-content .switch-circle {
  background: #FFF;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 1;
  margin-left: 1px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1)
}

.multi-switch .switch-content .info-slide {
  position: absolute;
  z-index: 2;
  width: 50%;
  float: left;
  height: 100%;
  display: inline-block;
  margin: 0;
}

.multi-switch .switch-content .info-slide.active {
  right: 0;
  border-kradius: 0 16px 16px 0;
  -moz-border-radius: 0 16px 16px 0;
  -webkit-border-radius: 0 16px 16px 0;
  -ms-border-radius: 0 16px 16px 0
}

.multi-switch .switch-content .info-slide.deactivated {
  left: 0px;
  border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
  -webkit-border-radius: 16px 0 0 16px;
  -ms-border-radius: 16px 0 0 16px
}

.multi-switch .switch-content.active {
  /*#5dc177*/;
  background-color: #44ad41;
}

.multi-switch .switch-content.active .switch-circle {
  left: 100%;
  margin-left: -16px
}

.multi-switch .switch-content.disabled {
  background-color: #CCC;
  cursor: default
}

.multi-switch .switch-content.initial {
  background-color: #ddd
}

.multi-switch .switch-content.initial .switch-circle {
  left: 50%;
  margin-left: -8.5px
}

.multi-switch input {
  display: none
}
