{% load i18n %}
<div id="license_offline_activate" style="margin:15px">
    <form action="" method="post" class="layui-form" lay-filter="license_offline_activate" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">License File<span class="required">*</span></label>
            <div class="layui-input-block">
                <input type="file" name="license_file" required="" id="id_license_file">
            </div>
        </div>
    </form>
</div>
