<style>
td {
    height: 10px;
}
</style>
<div style="width:80%; margin:auto; margin-top: 20px;">
    <h2>License Info</h2>
    <table class="table table-bordered table-striped">
        <tbody style='text-align:center'>
            <tr>
                <td style="width:100px">Company</td>
                <td id='id-company_name' style="width:300px"></td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td id='id-email_address'></td>
            </tr>
            <tr>
                <td>Country</td>
                <td id='id-country'></td>
            </tr>
            <tr>
                <td>City</td>
                <td id='id-city'></td>
            </tr>
            <tr>
                <td>Contacts</td>
                <td id='id-contacts'></td>
            </tr>
            <tr>
                <td>Address</td>
                <td id='id-adress'></td>
            </tr>
            <tr>
                <td>Industry</td>
                <td id='id-industry'></td>
            </tr>
            <tr>
                <td><strong>Limit Employee</strong></td>
                <td id='id-employee_limit'><strong></strong></td>
            </tr>
            <tr>
                <td><strong>Limit Device</strong></td>
                <td id='id-device_limit'><strong></strong></td>
            </tr>
            <tr>
                <td><strong>Expired Date</strong></td>
                <td id='id-expired_date'><strong></strong></td>
            </tr>
            <tr>
                <td><strong>WDMS Version</strong></td>
                <td id='id-version'><strong></strong></td>
            </tr>
        </tbody>
    </table>
    <div class="layui-btn-container">
        <button id='online_activation' class="layui-btn layui-btn-primary layui-btn layui-btn-sm" style="width: 100; background: #d8dce1;">Online Active</button>
<!--         <br /> -->
        <button id='create_upk' class="layui-btn layui-btn-primary layui-btn layui-btn-sm" style="width: 100; background: #d8dce1;">Create UPK</button>
        <button id='offline_activation' class="layui-btn layui-btn-primary layui-btn layui-btn-sm" style="width: 100; background: #d8dce1;">Offline Active</button>
    </div>
</div>
<script>
$(function() {
    $.ajax({
        url: "/api/licenses/",
        dataType: 'json',
        type: "GET",
        success: function(response) {
            data = response.data[0]
            $("#id-company_name").text(data.company_name);
            $("#id-email_address").text(data.email_address);
            $("#id-country").text(data.country);
            $("#id-city").text(data.city);
            $("#id-contacts").text(data.contacts);
            $("#id-adress").text(data.adress);
            $("#id-industry").text(data.industry);
            $("#id-expired_date").text(data.expired_date);
            $("#id-device_limit").text(data.device_limit);
            $("#id-employee_limit").text(data.employee_limit);
            $("#id-version").text(data.version);
        }
    });

    function userAuth(activation, extra) {
        var authPost = function(index, layero) {
            var loadIndex = layer.load();
            var data_form = $(layero).find("form.layui-form");
            var post_data = {};
            data_form = new FormData(data_form[0]);
            data_form.forEach((value, key) => post_data[key] = value);
            console.log(post_data)
            $.ajax({
                url: '/api/jwt-api-token-auth/',
                type: 'POST',
                data: JSON.stringify(post_data),
                dataType: "json",
                success: function(response) {
                    layer.close(loadIndex);
                    console.log(response);
                    activation(index, layero, extra);
                },
                error: function(response) {
                    layer.close(loadIndex);
                    console.log(response.responseText);
                    layer.msg('username or password error', { time: 1000 });
                    // activation(index, layero, extra);
                    // layer.msg('username or password error.');
                }
            });
        };
        $.ajax({
            url: "/pop_login/",
            type: "GET",
            dataType: "html",
            success: function(pannel) {
                layer.open({
                    title: "User Auth ",
                    type: 1,
                    zIndex: 1002,
                    area: ['350px', '230px'],
                    content: pannel,
                    btn: ['submit', 'cancel'],
                    success: function(layero, index) {
                        $(layero).find("#id_username").focus();
                        $(layero).find("#id_password").keypress(function(event) {
                            if (event.keyCode === 13) {
                                authPost(index, layero)
                            }
                        });
                    },
                    yes: authPost
                })
            }
        })
    }
    var onlineActivation = function(index, layero, extra) {
        $.ajax({
            url: "/license/activation_online/",
            type: "GET",
            dataType: "html",
            success: function(pannel) {
                layer.close(index);
                layer.open({
                    type: 1,
                    title: "Online Activation",
                    zIndex: 1003,
                    area: ['auto', 'auto'],
                    content: pannel,
                    btn: ['Submit', 'Cancel'],
                    yes: function(index, layero) {
                        var loadIndex = layer.load();
                        var data_form = $(layero).find("form.layui-form");
                        data_form = new FormData(data_form[0]);

                        $.ajax({
                            url: '/api/licenses/online_activation/',
                            type: 'POST',
                            data: data_form,
                            contentType: false,
                            processData: false,
                            success: function(response) {
                                layer.close(loadIndex);
                                layer.msg('Success', { icon: 1, time: 2000 }, function() {
                                    layer.closeAll();
                                })
                            },
                            error: function(response) {
                                layer.close(loadIndex);
                                console.log(response.responseText);
                                layer.msg(response.responseText);
                            }
                        });
                    }
                });
            },
            error: function(response) {
                console.log(response.responseText);
            }
        })
    };
    var offlineActivation = function(index, layero, extra) {
        $.ajax({
            url: "/license/activation_offline/",
            type: "GET",
            dataType: "html",
            success: function(pannel) {
                layer.close(index);
                layer.open({
                    type: 1,
                    title: "Offline Activation",
                    zIndex: 1003,
                    area: ['auto', 'auto'],
                    content: pannel,
                    btn: ['Submit', 'Cancel'],
                    yes: function(index, layero) {
                        var loadIndex = layer.load();
                        var data_form = $(layero).find("form.layui-form");
                        data_form = new FormData(data_form[0]);

                        $.ajax({
                            url: '/api/licenses/offline_activation/',
                            type: 'POST',
                            data: data_form,
                            contentType: false,
                            processData: false,
                            success: function(response) {
                                layer.close(loadIndex);
                                console.log(response);
                                layer.msg('Success', { icon: 1, time: 2000 }, function() {
                                    layer.closeAll();
                                })
                            },
                            error: function(response) {
                                layer.close(loadIndex);
                                console.log(response.responseText);
                                layer.msg(response.responseText);
                            }
                        });
                    }
                });
            },
            error: function() {
                console.log(response.responseText);
            }
        })
    };
    var createUPK = function(index, layero, extra) {
        $.ajax({
            url: "/license/create_upk_file/",
            type: "GET",
            dataType: "html",
            success: function(pannel) {
                layer.close(index);
                layer.open({
                    type: 1,
                    title: "Create UPK",
                    zIndex: 1003,
                    area: ['auto', 'auto'],
                    content: pannel,
                    btn: ['Submit', 'Cancel'],
                    yes: function(index, layero) {
                        var loadIndex = layer.load();
                        var data_form = $(layero).find("form.layui-form");
                        data_form = new FormData(data_form[0]);

                        $.ajax({
                            url: '/api/licenses/create_upk/',
                            type: 'POST',
                            data: data_form,
                            contentType: false,
                            processData: false,
                            success: function(response) {
                                layer.close(loadIndex);
                                console.log(response);
                                // window.location.href = '/api/licenses/download_upk/'
                                downloadFile('/api/licenses/download_upk/')
                                layer.msg('Success', { icon: 1, time: 2000 }, function() {
                                    layer.closeAll();
                                })
                            },
                            error: function(response) {
                                layer.close(loadIndex);
                                console.log(response.responseText);
                                layer.msg(response.responseText);
                            }
                        });
                    }
                });
            },
            error: function() {
                console.log(response.responseText);
            }
        })
    };
    $("#online_activation").click(function() {
        userAuth(onlineActivation);
    });
    $("#offline_activation").click(function() {
        userAuth(offlineActivation);
    });
    $("#create_upk").click(function() {
        userAuth(createUPK);
    });
});
</script>