{% extends "data_grid.html" %}
{% block filter_data %}
  <form class="layui-form" action="">
    <div class="layui-inline">
      <label for="" class="layui-form-label">Company ID</label>
      <div class="layui-input-inline">
        <input id="company-filter_company_id" type="text" name="company-filter_company_id" lay-verify="required"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label for="" class="layui-form-label">Name</label>
      <div class="layui-input-inline">
        <input id="company-filter_company_name" type="text" name="company-filter_company_name" lay-verify="required"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline" style="width:93px; margin-bottom: 7px">
      <div class="layui-input-inline">
        <select name="{{ model_name }}-search_type" id="{{ model_name }}-search_type">
          <option value='search'>Contain</option>
          <option value='exact'>Exact</option>
        </select>
      </div>
    </div>
    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
  </form>
{% endblock filter_data %}
{% block filter_func %}
  <script>
    $('#{{ model_name }}-search_btn').on('click', function () {
      var company_id = $("input[name='{{ model_name }}-filter_company_id']").val();
      var company_name = $("input[name='{{ model_name }}-filter_company_name']").val();
      var search_type = $('#{{ model_name }}-search_type').val() || null;
      if (search_type === 'search') {
        var where = {
          'company_id_icontains': company_id,
          'company_name_icontains': company_name,
        }
      } else {
        var where = {
          'company_id': company_id,
          'company_name': company_name,
        }
      }
      let curTable = layui.table.thisTable.that['id_grid_{{ model_name }}']
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      var table = layui.table
      console.log(where)
      table.reload('id_grid_' + '{{ model_name }}', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#{{ model_name }}-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-filter_company_id']").val('');
      $("input[name='{{ model_name }}-filter_company_name']").val('');
    });
  </script>
{% endblock filter_func %}