/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, font, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th {*/
/*margin: 0;*/
/*padding: 0;*/
/*outline: 0;*/
/*!*font-size: 12px;*!*/
/*!*background: transparent; *!*/
/*}*/

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}


.dashboard #content {
  width: 500px;
}

span .errorlist {
  background: red no-repeat !important;
  color: #FFF;
  display: block;
  font-size: 12px !important;
  margin: 0 0 3px;
  padding: 2px 5px 2px 10px;
  text-align: left;
}

.errorlist li {
  background: red !important;
  border: 1px solid red;
  color: #FFF;
  display: block;
  font-size: 12px !important;
  margin: 0 0 3px;
  padding: 2px 5px 2px 25px;
  text-align: left;
  /*height:16px !important;*/
}

.oklist li {
  background: #7ac143;
  border: 1px solid #abcdef;
  color: #FFFFFF;
  display: block;
  font-size: 14px !important;
  margin: 0 0 3px;
  padding: 2px 5px 2px 25px;
  text-align: left;

}

/*.header a:hover, #header a:hover {*/
/*text-decoration: none;*/
/*}*/

/*.header a:link, #header a:visited, a.ha:hover, #header a:link, #header a:visited {*/
/*text-decoration: none;*/
/*}*/


.nowrap {
  white-space: nowrap;
}

/*a:hover {
color:#036;
}
a:link, a:visited {
  text-decoration: none;
}
*/

body {
  background: #ffffff;
  color: #000000;
  font-family: "Arial", "Microsoft Yahei", "SimSun", "Tahoma", "sans-serif";
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.selectRow {
  background: green !important;
}

label.required {
  /*padding-left: 6px;*/
  background-image: url(../img/images_icon.gif);
  background-repeat: no-repeat;
  background-position: -786px -55px;
  background-position: -786px -53px \9;
  _background-position: -786px -51px;
  word-break: keep-all;
  word-wrap: normal;
  white-space: nowrap;
}

#progressbar .ui-widget-header {
  background: #7ac143;
}

.progress-label {
  position: absolute;
  left: 50%;
  top: 10px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.external-events {
  border: 1px solid #ddd;
}

.event-type {
  padding: 5px 0px 5px 5px;
  border-bottom: 1px solid #ddd;
  height: auto;
}

.event-title {
  padding: 5px 0px 5px 5px;
  border-bottom: 1px dotted #ddd;
  height: auto;
}

.event-type, .event-title {
  background-color: #a4a9aa;
}

.external-event {
  margin: 5px 0px 5px 5px;
  overflow: auto;
}

.external-event-tmp {
  height: 390px;
}

.calendar_table {
  width: 100%;
}

.base-setting {
  margin: 10px 10px 10px 10px;
}

.base-setting label {
  width: 185px;
}

.base-setting .layui-form-item .layui-input-inline, .base-setting .layui-input-inline .layui-input-inline {
  width: 185px !important;
}

.base-setting .layui-form-item .layui-input-inline input {
  width: 185px !important;
}

.base-setting-large1 label {
  width: 150px !important;
}

.base-setting-large2 label {
  width: 190px !important;
}

.base-setting-large3 label {
  width: 225px !important;
}

.base-setting-large4 label {
  width: 250px !important;
  max-width: 270px !important;
}

.editformbtn {
  display: block;
  width: 96%;
  padding: 5px 0px 0px 0px;
  margin: 10px 10px 10px 10px;
  border-top: 1px dotted #85A0C7;
  text-align: left;
  float: left;
}

.page-form {
  /*overflow-y: auto;*/
  /*position: absolute;*/
  margin: 0px;
  left: 0px;
  right: 0px;
  /*top: 45px;*/
  bottom: 0px;
}

.layui-upload-img {
  width: 200px;
  height: 75px;
  margin: 0 10px 10px 0;
}

fieldset {
  border: 1px solid #e3e3e3;
  padding: 5px;
  /*background: url(../images/images_bg.gif) repeat-x;*/
  background-position: 0px -340px;
  background-position: 0px -325px \9;
  _background-position: 0px -325px;
}

fieldset legend {
  padding: 2px 3px;
  /*background: url(../images/images_bg.gif) 0px -824px repeat-x;*/
  /*border: 1px solid #c6c8ca;*/
  background-position: 0px -824px;
  color: #333333;
}

.shift-container {
  width: 220px;
}

.shift-name {
  width: 120px;
  text-align: left;
  float: left;
}

.shift-timeinterval {
  float: right;
}

.shift-timeinterval input {
  width: 90px !important;
}

.shift-name, .shift-timeinterval {
  margin: 5px 0px 0px 5px;
}

.field-group-header {
  padding-bottom: 9px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.field-group-header h2 {
  margin-left: 20px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 300;
  color: #777777;
}

.field-leave_include_out label {
  width: 300px !important;
}

.field-training_include_out label {
  width: 300px !important;
}


.zk-type-helper {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  display: table-cell;
  color: #555;
  vertical-align: middle;
  border-radius: 3px;
  max-width: 100%;
  cursor: text;
  width: 80%;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px;
}

.zk-type-helper-item {
  display: inline-block;
  padding: 0 8px;
  color: #017e66;
  background-color: #e7f2ed;
  height: 20px;
  line-height: 20px;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  margin-right: .5rem;
}

.zk-type-helper-item .remove {
  cursor: pointer;
}

.zk-type-helper-input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  /*text-transform: lowercase;*/
  width: 6rem;
  max-width: 100%;
}

.report-param-funckey label {
  width: 40px;
  color: #FF9966;
}

.report-param-funckey input {
  width: 150px;
}

input:disabled, textarea:disabled {
  color: #d2d2d2;
  font-style: italic;
  cursor: not-allowed !important;
}


.pined-tab {
  color: #5FB878;
  cursor: crosshair;
}

/*div#ztree-right-menu {*/
  /*position: absolute;*/
  /*visibility: hidden;*/
  /*top: 0;*/
  /*z-index: 1050;*/
  /*text-align: left;*/
  /*left: 0;*/
  /*padding: 5px 0;*/
  /*margin: 2px 0 0;*/
  /*font-size: 14px;*/
  /*background-color: #ffffff;*/
  /*border: 1px solid #cccccc;*/
  /*border-radius: 4px;*/
  /*-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
  /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
  /*background-clip: padding-box;*/
/*}*/

/*div#ztree-right-menu ul li {*/
  /*margin: 1px 0;*/
  /*padding: 0 5px;*/
  /*cursor: pointer;*/
  /*list-style: none outside none;*/
/*}*/

.task-text-input{
  margin-top: 2px;
}

.task-template-lable{
  margin-left: 16px;
}

.task-template-textarea{
  max-width: 700px;
  margin-left: 30px;
  margin-bottom: 10px;
}

table.task-template-help-table td > p{
  cursor: pointer;
}

table.task-template-help-table td{
  height: 25px;
}

.task-template-help{
  margin-top: 3px;
}

table.task-template-help-table td > p:hover{
  color: black;
}

form.att-report-search-form div.layui-input-inline{
  width: 160px;
}

form.att-caculation-emp-form div.layui-input-inline{
  width: 135px;
}

/*
	arrowtip
	https://chrisbracco.com/a-simple-css-arrowtip/
*/

/* Base styles for the element that has a arrowtip */
[data-arrowtip]:hover {
	border-bottom: 1px dotted #393d49;
}

[data-arrowtip] {
  border-bottom: 1px dotted transparent;
}

[data-arrowtip],
.arrowtip {
  position: relative;
  cursor: default;
}

/* Base styles for the entire arrowtip */
[data-arrowtip]:before,
[data-arrowtip]:after,
.arrowtip:before,
.arrowtip:after {
  position: absolute;
  visibility: hidden;
  font-weight: normal;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire arrowtip on hover and focus */
[data-arrowtip]:hover:before,
[data-arrowtip]:hover:after,
[data-arrowtip]:focus:before,
[data-arrowtip]:focus:after,
.arrowtip:hover:before,
.arrowtip:hover:after,
.arrowtip:focus:before,
.arrowtip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* Base styles for the arrowtip's directional arrow */
.arrowtip:before,
[data-arrowtip]:before {
  z-index: 2001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the arrowtip's content area */
.arrowtip:after,
[data-arrowtip]:after {
  z-index: 2000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-arrowtip);
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.2;
}

/* Top (default) */
[data-arrowtip]:before,
[data-arrowtip]:after,
.arrowtip:before,
.arrowtip:after,
.arrowtip-top:before,
.arrowtip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-arrowtip]:before,
.arrowtip:before,
.arrowtip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom arrowtips */
[data-arrowtip]:after,
.arrowtip:after,
.arrowtip-top:after {
  margin-left: -80px;
}

[data-arrowtip]:hover:before,
[data-arrowtip]:hover:after,
[data-arrowtip]:focus:before,
[data-arrowtip]:focus:after,
.arrowtip:hover:before,
.arrowtip:hover:after,
.arrowtip:focus:before,
.arrowtip:focus:after,
.arrowtip-top:hover:before,
.arrowtip-top:hover:after,
.arrowtip-top:focus:before,
.arrowtip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.arrowtip-left:before,
.arrowtip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.arrowtip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.arrowtip-left:hover:before,
.arrowtip-left:hover:after,
.arrowtip-left:focus:before,
.arrowtip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.arrowtip-bottom:before,
.arrowtip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.arrowtip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.arrowtip-bottom:hover:before,
.arrowtip-bottom:hover:after,
.arrowtip-bottom:focus:before,
.arrowtip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.arrowtip-right:before,
.arrowtip-right:after {
  bottom: 50%;
  left: 100%;
}

.arrowtip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.arrowtip-right:hover:before,
.arrowtip-right:hover:after,
.arrowtip-right:focus:before,
.arrowtip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right arrowtips */
.arrowtip-left:before,
.arrowtip-right:before {
  top: 3px;
}

/* Vertically center arrowtip content for left/right arrowtips */
.arrowtip-left:after,
.arrowtip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
/* End arrowtip styles */

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 3px;
}

/*::-webkit-scrollbar-track-piece:hover {*/
/*}*/

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: #cccccc;
  -webkit-border-radius: 7px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  height: 30px;
  background-color: #898989;
  -webkit-border-radius: 8px;
}

.layui-form-checkbox{
  margin-top: 2px !important;
}

.data-edit-i{
  margin-top: 3px;
}
