

/* FORM ROWS */
.form-row { overflow:hidden; padding:8px 12px; font-size:12px; border-bottom:0px solid #eee; }
.form-row img, .form-row input { vertical-align:middle; }
form .form-row p { padding-left:0; font-size:12px; }

/* FORM LABELS */
form h4 { margin:0 !important; padding:0 !important; border:none !important; }
label { font-weight:normal;  font-size:12px; }
label.inline { margin-left:20px; }
.required label, label.required { font-weight:bold !important; color:#333 !important; }
.required label, label.required3 { font-weight:bold !important; color:#333 !important; }

/* RADIO BUTTONS */
form ul.radiolist li { list-style-type:none; }
form ul.radiolist label { float:none; display:inline; }
form ul.inline { margin-left:0; padding:0; }
form ul.inline li { float:left; padding-right:7px; }

/* ALIGNED FIELDSETS */
.aligned label { display:block; padding:0 1em 3px 0; float:left; width:8em; }
.aligned label.inline { display:inline; float:none; }
.colMS .aligned .vLargeTextField, .colMS .aligned .vXMLLargeTextField { width:350px; }
form .aligned p, form .aligned ul { margin-left:7em; padding-left:30px; }
form .aligned table p { margin-left:0; padding-left:0; }
form .aligned p.help { padding-left:38px; }
.aligned .vCheckboxLabel { float:none !important; display:inline; padding-left:4px; }
.colM .aligned .vLargeTextField, .colM .aligned .vXMLLargeTextField { width:610px; }
.checkbox-row p.help { margin-left:0; padding-left:0 !important; }

/* WIDE FIELDSETS */
.wide label { width:15em !important; }
form .wide p { margin-left:15em; }
form .wide p.help { padding-left:38px; }
.colM fieldset.wide .vLargeTextField, .colM fieldset.wide .vXMLLargeTextField { width:450px; }

/* COLLAPSED FIELDSETS */
fieldset.collapsed * { display:none; }
fieldset.collapsed h2, fieldset.collapsed { display:block !important; }
fieldset.collapsed h2 { background-image:url(../img/nav-bg.gif); background-position:bottom left; color:#999; }
fieldset.collapsed .collapse-toggle { padding:3px 5px !important; background:transparent; display:inline !important;}

/* MONOSPACE TEXTAREAS */
fieldset.monospace textarea { font-family:"Bitstream Vera Sans Mono",Monaco,"Courier New",Courier,monospace; }

/* SUBMIT ROW */
.submit-row { padding:5px 7px; text-align:right; background:white url(../img/nav-bg.gif) 0 100% repeat-x; border:1px solid #ccc; margin:5px 0; }
.submit-row input { margin:0 0 0 5px; }
.submit-row p { margin-top:0.3em; }
.submit-row .deletelink { background:url(../img/icon_deletelink.gif) 0 50% no-repeat; padding-left:14px; }

/* CUSTOM FORM FIELDS */
.vSelectMultipleField { vertical-align:top !important; }
.vCheckboxField { border:none; }
.vDateField, .vTimeField { margin-right:2px; margin-top:2px;}
.vURLField { width:30em; }
.vLargeTextField, .vXMLLargeTextField { width:48em; }
.flatpages-flatpage #id_content { height:40.2em; }
.module table .vPositiveSmallIntegerField { width:2.2em; }
form th {
text-align:right;

padding-top:4px;
vertical-align: top;
width: auto;
#min-width: 80px;
}


.hour{
    width: 40px !important;
    text-align: right;
    border: 0px !important;
}
.min{
    width: 40px !important;
    text-align: left;
    border: 0px !important;
}
.corner{
    border-top: 45px solid #d2ddf0;
    position: relative !important;
     border-left: 100px solid #a3bdd3;
    height: 0px !important;
    width: 0px !important;
}
.corner p{
    display: block;
    width: 35px;    
    position: absolute;
    left: -40px;
    top:-35px;
    color: red !important;
    
}
.base-setting{
    margin:10px 10px 10px 10px;
}
.base-setting label {
    width: 185px;
}
.base-setting .layui-form-item .layui-input-inline{
  width: 185px !important;
}
.base-setting .layui-form-item .layui-input-inline input {
  width: 185px !important;
}
.base-setting-large1 label {
    width: 255px !important;
}
.base-setting-large2 label {
    width: 290px !important;
}
.base-setting-large3 label {
    width: 325px !important;
}
.base-setting-large4 label {
    width: 350px !important;
    max-width:400px !important;
}
.editformbtn{
    display:block;
    width:96%;
    padding:5px 0px 0px 0px;
    margin:10px 10px 10px 10px;
    border-top:1px dotted #85A0C7;
    text-align: left;
    float: left;
}
.page-form {
    overflow-y: auto; 
    position: absolute;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 45px;
    bottom: 0px;
}
.layui-upload-img {
    width: 200px; 
    height: 75px; 
    margin: 0 10px 10px 0;
}
fieldset {
    border: 1px solid #e3e3e3;
    padding: 5px;
    /*background: url(../images/images_bg.gif) repeat-x;*/
    background-position: 0px -340px;
    background-position: 0px -325px\9;
    _background-position: 0px -325px;
}
fieldset legend {
    padding: 2px 3px;
    /*background: url(../images/images_bg.gif) 0px -824px repeat-x;*/
    /*border: 1px solid #c6c8ca;*/
    background-position: 0px -824px;
    color: #333333;
}
.field-group-header{
  padding-bottom:9px;
  margin:20px;
  border-bottom:1px solid #eeeeee;
}
.field-group-header h2{
  margin-left:20px;
  padding:0 10px;
  font-size:20px;
  font-weight:300;
  color: #777777;
}