/*
  Access Control
*/
.time_interval_edit_table #id_remark {
	width: 500px !important;
}

.time_interval_edit_table th {
	width: 117px !important;
}

.time_interval_edit_div_inner {
	background-color: #F4F7FF;
	padding: 2px 10px 0px 10px;
	border: 1px solid #DBE4EE;
	border-top: none;
}

.time_interval_edit_table_inner {
	text-align: center;
	width: 100%;
	background-color: #FFFFFF;
}

.time_interval_edit_table_inner td {
	border: 1px solid #E8ECF7;
}  /*#ccc*/
.time_interval_edit_table_inner tr td {
	colspan: 1;
}

.time_interval_edit_table_inner input[type="text"] {
	width: 40px !important;
	height: 18px !important;
	line-height: 18px !important;
	padding: 0px !important;
}

.blue_bg_color {
	background-color: #aeb4b8;
	color: #fff;
}

.blank_bg_color {
	background-color: #f7f7f7;
	width: 115px;
}

.out {
	border-top: 40px solid #aeb4b8;
	width: 0px;
	height: 0px;
	border-left: 115px solid #ffffff;
	position: relative;
}

.out b {
	font-style: normal;
	display: block;
	position: absolute;
	top: -35px;
	left: -40px;
	width: 35px;
	font-weight: bold;
}

.out em {
	font-style: normal;
	display: block;
	position: absolute;
	top: -20px;
	left: -100px;
	width: 55px;
	font-weight: bold;
}
