/*html, body, div, span, applet, h1, h2, h3, h4, h5, h6, ul, li, p {*/
  /*margin: 0px;*/
  /*padding: 0px;*/
  /*list-style-type: none;*/
/*}*/

html, body {
  min-width: 1280px;
  width: 100%;
  height: 100%;
}

.l {
  float: left;
}

.r {
  float: right;
}

.login_big_box a:link, .login_big_box a:visited, .login_big_box a:active {
  color: #474b4f;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.login_big_box {
  background-color: #7ac143;
  height: 420px;
  width: 100%;
}

.login_logo {
  background-image: url(../img/login/logo_BioTime.png);
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/login/logo_t.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  width: 710px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding-bottom: 30px;
}

.login_oem {
  background-image: url(../img/login/oem.jpg);
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/login/logo_t.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  width: 710px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding-bottom: 30px;
}

.login_box {
  width: 33%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}

.login_box_type {
  margin-bottom: 15px;
}

.login_box_type a {
  color: #474b4f;
  text-decoration: none;
}

.login_box_type a.active {
  color: #ffffff;
}

.login_box_type a, .login_box_type span {
  font-size: 18px;
}

.login_box .login_inp {
  border: 1px solid #7ac143;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 46px;
  height: 46px;
  width: 100%;
  margin-bottom: 30px;
  color: #777c80;
  padding: 0 8px;
}

.login_box .login_inp_tip {
  color: #999999;
}

.login_box .login_check {
  line-height: 20px;
  height: 20px;
  width: 20px;
  border: 1px solid #7ac143;
}

.login_box .logo_check_box {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #474b4f;
}

.logo_check_box a:link, .logo_check_box a:visited, .logo_check_box a:active {
  color: #474b4f;
  text-decoration: underline;
}

.logo_check_box a:hover {
  color: #000;
  text-decoration: none;
}

.login_box .login_but {
  margin-top: 35px;
}

.btn_fp, .btn_fp_disabled, .but_login, .but_reset, .empLoginBtn {

  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: left;
  height: 48px;
  background-color: #474b4f;
  text-align: left;
  /*padding-left: 60px;*/
  text-indent: 60px;
  border: 1px solid #FFFFFF;
  cursor: hand;
}

.btn_fp {
  background-image: url(../img/login/button1.png);
  min-width: 220px;
  padding-right: 10px;
}

.btn_fp_disabled {
  background-image: url(../img/login/fing_disabled.png);
  /*min-width: 220px;*/
  padding-right: 10px;
  color: #cfd3d3;
  background-color: #74777c;
  opacity: 0.9;
  cursor: default;
  width: 100%;
}

.but_login {
  background-image: url(../img/login/button2.png);
  /*min-width: 150px;*/
  width: 100%;
}

.empLoginBtn {
  width: 100%;
  padding-left: 0px;
  text-align: center;
  text-indent: 0px;
}

.but_reset {
  background-image: url(../img/login/button2.png);

}

.but_fing:hover, .but_login:hover, .but_reset:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.login_copy {
  text-align: center;
  color: #999999;
  margin-top: 30px;
  /* margin-bottom: 50px; */
}

.error_tip {
  padding: 2px 0px;
  color: red;
  overflow: visible;
}

.license-register {
  text-align: center;
}

.license-register a {
  color: #7ac143;
  text-decoration: underline;
}

.license-register a:hover {
  color: #7ac143;
  text-decoration: underline;
}

.register-box {

}

.info-box-activation {

}

.info-box-activation a {
  padding: 0 5px;
  text-decoration: underline;
}

.info-box-activation a:hover {
  text-decoration: none;
}

.info-sm-box {
  padding: 10px;
}

.info-sm-box .info-sm-box-label {
  font-size: 18px;
  color: #7ac143;
  padding: 5px 0;
}

.info-box-item {
  padding: 3px 0;
}

.info-box-item .box-item-label {
  font-weight: bold;
}

.info-box-item .box-item {
  display: inline-block;
}

.info-box-item .box-item-val {
  text-decoration: underline;
}

.layui-layer-btn .layui-layer-btn0 {
  border-color: #7ac143;
  background-color: #7ac143;
}

span.required {
  color: red;
}

.online-activation .layui-form-item {
  margin-bottom: 0px;
}

.online-activation .layui-form-item .layui-inline {
  margin: 5px;
}

.online-activation .layui-form-item .layui-input-inline {
  width: 150px;
}

.online-activation .layui-form-label {
  width: 100px;
  padding: 3px;
}

.online-activation .layui-input, .online-activation .layui-select, .online-activation .layui-textarea {
  height: 28px;
}

.online-activation .sn-input .layui-input-inline {
  width: 280px;
}

.online-activation .company-input .layui-input-inline, .upk-download .company-input.layui-input {
  width: 430px;
}

.admin-login .layui-input, .admin-login .layui-select, .admin-login .layui-textarea {
  height: 28px;
}
