<div style="padding: 10px;min-height: 300px;min-width: 450px">
  <form class="layui-form action-form" action method="post" id="{{ model_name }}_import">
        <div class="layui-form-item field-import_file">
            <label class="layui-form-label" for="id_import_file">Import File</label>
            <div class="layui-input-inline ">
                <input type="file" name="import_file" lay-data="{accept: 'file'}" required="" id="id_import_file">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block layui-form-mid layui-word-aux">Support .csv or .xls file only</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Existing Data</label>
            <div class="layui-input-inline">
                <select name="import_type" id="id_import_type">
                    <option value="ignore" selected="">Ignore</option>
                    <option value="overwrite">Overwrite</option>
                </select>
            </div>
            <label class="layui-form-label">File Format</label>
            <div class="layui-input-inline">
                <select name="file_format" id="id_file_format" lay-filter="file_format">
                  <option value="csv">csv</option>
                  <option value="xls">xls</option>
                </select>
            </div>
        </div>
<!--         <div class="layui-form-item">
          <div class="layui-inline field-company">
            <label class="layui-form-label">Company</label>
            <div class="layui-input-block" style="width:190px">
              <select name="import_company" lay-filter="aihao" id="id_import_company" lay-search="">
              </select>
            </div>
          </div>
        </div> -->
        <div class="layui-form-item">
            <label class="layui-form-label"
                   style="width: 150px;text-align: left">Template Demo:</label>
            <div class="layui-input-inline" style="float: right">
                <a target="_blank" style="color: #01AAED;" id="download_tem"
                   href="/api/employees/import_template/"><i
                        class="fa fa-download"></i>Download Template</a>
            </div>
        </div>
        <div class="layui-form-item">
            <table class="layui-hide" id="demo"></table>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block"
                 style="margin-left: 0px;min-height: 24px;">Description</div>
            <div class="layui-input-block" style="margin-left: 20px;">
                <p>1.The heads in file template are required</p>
                <p>2.The Employee ID,Employee Name,Department ID,Area ID is required fields</p>
                <p>3.The Area ID is split with ';'</p>
                <p>4.All column value should be text format</p>
                <p>5.The Card No must be unique</p>
            </div>
        </div>
    </form>
</div>
<script>
  layui.use(['table', 'form'], function () {
    var table = layui.table
      , form = layui.form;
    table.render({
      elem: '#demo'
      , cellMinWidth: 80
      , cols: [[
        {field: 'no', width: '30', title: ''}
        , {field: 'pin', width: '140', title: 'A'}
        , {field: 'emp_name', width: '140', title: 'B'}
        , {field: 'depart_id', width: '140', title: 'D'}
        , {field: 'area_ids', width: '140', title: 'E'}
        , {field: 'company_id', width: '140', title: 'F'}
      ]]
      , data: [{
        "no": "1"
        , "pin": "Employee ID"
        , "emp_name": "Employee Name"
        , "depart_id": "Department ID"
        , "area_ids": "Area ID"
        , "company_id": "Company ID"
      }, {
        "no": "2"
        , "pin": "10001"
        , "emp_name": "Koi"
        , "depart_id": "1"
        , "area_ids": "1"
        , "company_id": "1"
      }, {
        "no": "3"
        , "pin": "10002"
        , "emp_name": "Koe"
        , "depart_id": "1"
        , "area_ids": "1;2;3"
        , "company_id": "1"
      }, {
        "no": "4"
        , "pin": "10003"
        , "emp_name": "Kosan"
        , "depart_id": "1"
        , "area_ids": "1;2;3"
        , "company_id": "1"
      }]
    });

    $.ajax({
      url: "/api/companies/"
      , dataType: 'json'
      , type: "GET"
      , data: {'limit': 1000}
      , success: function (data1) {
        var data = data1.data;
        // $("#id_import_company").append('<option value="">search or select</option>');
        // $("#area-company").html('')
        for (var i = 0; i < data.length; i++) {
          var html = "<option value='" + data[i].id + "'>" + data[i].company_name + "</option>";
          $("#id_import_company").append(html);
        }
        layui.form.render('select');
      }
    });

    form.on('select(file_format)', function (data) {
      var file_format = data.value
      , tem = document.getElementById('download_tem');
      tem.href = '/api/employees/import_template/?file_format=' + file_format;
      form.render();
    })

  });
</script>
