<div id="employee_send_sms" style="padding: 10px; height: 250px;">
    <form class="layui-form" action="" lay-filter="employee_send_sms">
        <div class="layui-form-item">
            <label class="layui-form-label">Message<span class="required">*</span></label>
            <div class="layui-input-block" style="width:190px">
                <select name="message" lay-filter="aihao" id="employee-message" lay-search="">
                </select>
            </div>
        </div>
    </form>
</div>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['form', 'layedit', 'laydate'], function() {
    var form = layui.form,
        layer = layui.layer,
        layedit = layui.layedit,
        laydate = layui.laydate;

    $.ajax({
      url: "/api/messages/"
      ,dataType: 'json'
      ,type: "GET"
      , data: {'limit': 1000}
      ,success:function(res_data){
          data = res_data.data
          $("#employee-message").append('<option value="">search or select</option>');
          for(var i=0;i<data.length;i++){
              html="<option value='"+data[i].id+"'>"+data[i].message_id+' | '+data[i].content.substr(0, 10)+"</option>"
              $("#employee-message").append(html);
          }
          form.render('select');
      }
    });
});
</script>