<div id="employee_adjust_area" style="padding: 10px; height: 250px;">
  <form class="layui-form" action="" lay-filter="employee_adjust_area">
    <div class="layui-form-item">
      <label class="layui-form-label">Company<span class="required">*</span></label>
      <div class="layui-input-block" style="width:190px">
        <select name="company" lay-filter="company" id="employee-company">
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" for="id_area">Area<span class="required">*</span></label>
      <!-- 这里的xm-select属性是多选的ID, 如多处使用请保证全局唯一 -->
      <div class="layui-input-inline ">
        <script src="/static/jslib/formSelects-v4.js"></script>
        <select id='employee-area' name="area" xm-select="adjust_area-select-id" xm-select-height="24px">
          <option value="">select company first</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Type</label>
        <div class="layui-input-block">
            <input type="radio" name="adjust_type" value="move" title="move" checked="">
            <input type="radio" name="adjust_type" value="add" title="add">
        </div>
    </div>
  </form>
</div>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
  layui.use(['form', 'layedit', 'laydate'], function () {
    var form = layui.form,
      layer = layui.layer,
      layedit = layui.layedit,
      laydate = layui.laydate;

    $.ajax({
      url: "/api/companies/",
      dataType: 'json',
      type: "GET",
      data: {'limit': 1000},
      success: function (res_data) {
        data = res_data.data
        $("#employee-company").append('<option value="">search or select</option>');
        for (var i = 0; i < data.length; i++) {
          html = "<option value=" + data[i].id + ">" + data[i].company_name + "</option>"
          $("#employee-company").append(html);
        }
        form.render('select');
      }
    });

    form.on('select(company)', function (data) {
      var seleced_company = data.value
      if (seleced_company === '') {
        seleced_company = '0'
      }
      $.ajax({
        url: "/api/areas/?company=" + seleced_company,
        dataType: 'json',
        type: "GET",
        data: {'limit': 1000},
        success: function (res_data) {
          data = res_data.data
          $("#employee-area").html('<option value="">multiple selection</option>')
          for (var i = 0; i < data.length; i++) {
            html = "<option value='" + data[i].id + "'>" + data[i].area_name + "</option>"
            $("#employee-area").append(html);
          }
          layui.formSelects.render();
        },
        error: function (res_data) {
          $("#employee-area").html('')
          layui.formSelects.render('<option value="">select company first</option>');
        }
      });
    });

  });
  layui.formSelects.value('adjust_area-select-id', [1]);
</script>