{% extends "data_grid.html" %}
{% block special_display %}
  {% verbatim %}
  <script type="text/html" id="genderTpl">
    {{#  if(d.gender === 'M') { }}
      <a><img title="Male" src="/static/img/Male-icon.png" style="margin-bottom: 2px;"></a>
    {{# } else if(d.gender === 'F') { }}
      <a><img title="Female" src="/static/img/Female-icon.png" style="margin-bottom: 2px;"></a>
    {{#  } else { }}
      <a><img title="Secret" src="/static/img/Secret-icon.png" style="margin-bottom: 2px;"></a>
    {{#  } }}
  </script>
  <script type="text/html" id="privilegeTpl">
    {{#  if(d.privilege === 0) { }}
      <span>Normal</span>
    {{# } else if(d.privilege === 2) { }}
      <span>Registrar</span>
    {{# } else if(d.privilege === 6) { }}
      <span>Administrator</span>
    {{# } else if(d.privilege === 14) { }}
      <span>Supervisor</span>
    {{#  } else { }}
      {{ d.privilege }}
    {{#  } }}
  </script>
  {% endverbatim %}
{% endblock special_display %}

{% block filter_data %}
  <form class="layui-form" action="">
    <div class="layui-inline">
      <label for="" class="layui-form-label">Employee ID</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_pin" type="text" name="{{ model_name }}-filter_pin" lay-verify="required"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label for="" class="layui-form-label">Name</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_emp_name" type="text" name="{{ model_name }}-filter_emp_name"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label for="" class="layui-form-label">Department</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_department" type="text" name="{{ model_name }}-filter_department"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline" style="width:93px; margin-bottom: 7px">
      <div class="layui-input-inline">
        <select name="{{ model_name }}-search_type" id="{{ model_name }}-search_type">
          <option value='search'>Contain</option>
          <option value='exact'>Exact</option>
        </select>
      </div>
    </div>
    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    &nbsp;
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
  </form>
{% endblock filter_data %}
{% block filter_func %}
  <script>
    $('#{{ model_name }}-search_btn').on('click', function () {
      let pin = $("input[name='{{ model_name }}-filter_pin']").val()
      , emp_name = $("input[name='{{ model_name }}-filter_emp_name']").val()
      , department = $("input[name='{{ model_name }}-filter_department']").val()
      , search_type = $('#{{ model_name }}-search_type').val() || null
      , where = {}
      , table = layui.table;

      if (search_type === 'search') {
        where = {
          'pin_icontains': pin,
          'emp_name_icontains': emp_name,
          'depart_name_icontains': department
        }
      } else {
        where = {
          'pin': pin,
          'emp_name': emp_name,
          'depart_name': department
        }
      }

      let curTable = layui.table.thisTable.that['id_grid_{{ model_name }}'];
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      table.reload('id_grid_' + '{{ model_name }}', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#{{ model_name }}-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-filter_pin']").val('');
      $("input[name='{{ model_name }}-filter_emp_name']").val('');
      $("input[name='{{ model_name }}-filter_department']").val('');
    });
  </script>
{% endblock filter_func %}