<div id="employee_adjust_department" style="padding: 10px; height: 250px;">
  <form class="layui-form" action="" lay-filter="employee_adjust_department">
    <div class="layui-form-item">
      <label class="layui-form-label">Company<span class="required">*</span></label>
      <div class="layui-input-block" style="width:190px">
        <select name="company" lay-filter="company" id="employee-company">
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label" for="id_department">Department<span class="required">*</span></label>
      <!-- 这里的xm-select属性是多选的ID, 如多处使用请保证全局唯一 -->
      <div class="layui-input-block" style="width:190px">
        <select name="department" lay-filter="department" id="employee-department">
          <option value="">select company first</option>
        </select>
      </div>
    </div>
  </form>
</div>

<script>
  layui.use(['form', 'layedit'], function () {
    var form = layui.form,
      layer = layui.layer,
      layedit = layui.layedit;

    $.ajax({
      url: "/api/companies/",
      dataType: 'json',
      type: "GET",
      data: {'limit': 1000},
      success: function (res_data) {
        data = res_data.data
        $("#employee-company").append('<option value="">search or select</option>');
        for (var i = 0; i < data.length; i++) {
          html = "<option value=" + data[i].id + ">" + data[i].company_name + "</option>"
          $("#employee-company").append(html);
        }
        form.render('select');
      }
    });

    form.on('select(company)', function (data) {
      var seleced_company = data.value
      if (seleced_company === '') {
        seleced_company = '0'
      }
      $.ajax({
        url: "/api/departments/?company=" + seleced_company,
        dataType: 'json',
        type: "GET",
        data: {'limit': 1000},
        success: function (res_data) {
          data = res_data.data
          $("#employee-department").html('<option value="">search or select</option>');
          for (var i = 0; i < data.length; i++) {
            html = "<option value='" + data[i].id + "'>" + data[i].depart_name + "</option>"
            $("#employee-department").append(html);
          }
          form.render('select');
        },
        error: function (res_data) {
          $("#employee-department").html('<option value="">select company first</option>')
          form.render('select');
        }
      });
    });

  });
</script>