.filters {
  margin: 6px 0;
}

.filters__item, .filters__item:visited, .filters__item:hover {
  background: #f2f4fb;
  color: #2a43ac;
  text-decoration: none;
}

.filters__item {
  display: inline;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px 0 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

a.filters__item {
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: #0000;
    cursor: pointer;
    height: fit-content;
}

.filters__item > span {
  touch-action: none;
  user-select: text;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: #0000;
  cursor: text;
}

.filters__item > .layui-close {
  cursor: pointer;
}
