body {
    /*background-color: #e7e7e7;*/
    background: url(/static/img/login_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #333;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #fff;
    background-color: transparent;

}

.admin-login-background {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

.admin-header {
    margin-top: -100px;
    margin-bottom: 20px;
}

.admin-logo {
    width: 280px;
}

.admin-button {
    margin-top: 20px;
}

.admin-input {

    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    height: 50px;
    width: 300px;
    padding-bottom: 0px;
}


.admin-input-username {
    border-top-style: solid;
    border-radius: 5px 5px 0 0;
}

.admin-input-password {
    border-radius: 0 0 5px 5px;
}

.admin-button {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    background-color: #2d8cf0;
}

.admin-icon {
    margin-left: 260px;
    margin-top: 10px;
    font-size: 30px;
}

i {
    position: absolute;
}

.admin-captcha {
    position: absolute;
    margin-left: 205px;
    margin-top: -40px;
}