﻿table.timezone-table {
  border: 0px;
  font-size: 13pt;
  border: solid #cbd7e3 !important;
  border-width: 1px 0px 1px 1px !important;
  width: 100% !important;
}

.timezones-container {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: url('../img/tzbar1.jpg') top left no-repeat;
  width: 100%;
}

.timezones-container .tzbar {
  background-color: #aedcab !important;
  color: #e60011 !important;
  height: 24px;
  float: left;
  border-top: 1px solid #FFFFFF;
}

.timezones-container .space {
  background: transparent !important;
  border: 0px;
}

#tz {
  width: 100% !important;
  *width: 390px !important;
  height: 400px;
  *height: 390px;
  overflow: auto;
}

#id_extend #tz {
  position: relative;
}

.timezone-table tbody td {
  padding: 0px !important;
  border-bottom: 0px !important;
  margin: 0px !important;
  height: 12px !important;
  text-align: center !important;
}

.timezones-week {
  width: 40%;
  background-color: #3a76aa;
  text-align: center;
  color: #FFF !important;
  border-top: 1px solid #cbd7e3 !important;
}

.top_box {
  background-color: #7AC142;
  height: 62px;
  overflow: hidden;
  width: 100%;
  border-spacing: 0px;
}

.top_box .top_r_box {
  float: right;
  height: 62px;
  padding-right: 10px;
}

.top_box {
  background-color: #7ac142;
  height: 62px;
}

.top_box .top_logo, .top_box .top_logo_emp {
  float: left;
  height: 62px;
  width: 217px;
  overflow: hidden;
  text-align: center;
  padding: 0px 0px 0px -23px;
}

.top_box .top_logo_focus {
  background-color: #474b4f;
  float: left;
  height: 62px;
  width: 217px;
  padding: 0px 0px 0px -23px;
}

.top_box .top_logo img:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

.top_nav a:link, .top_nav a:visited, .top_nav a:active {
  color: #474b4f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.top_nav_hov {
  color: #474b4f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #3f4245;
  color: #fff !important;

}

.top_nav ul li {
  height: 100%;
  display: inline;
  overflow: hidden;
  list-style: outside none none;
  margin: 0 -2px 0 -2px;
}

.top_nav ul li a:link, .top_nav a:visited, .top_nav a:active {
  color: #474B4F;
  text-decoration: none;
  font-size: 16px;
  line-height: 62px;
  padding: 23px 30px;
}

.top_nav a:hover {

  color: #000 !important;
  text-decoration: none;
  background-color: #f3f5f0;
}

.top_r_box span img {
  padding-right: 0px;
  padding-left: 10px;
  /*padding-top: 16px;*/
}

.top_r_box em {
  font-size: 14px;
  font-weight: normal;
  padding-right: 10px;
  font-style: normal;
  color: #FFFFFF;
  line-height: 62px;
}

.ui-layout-west {
  background-color: #54585d;
}

.ui-widget-content {
  border: none;
}

.ui-widget-content a {
  color: #FFFFFF;
}

.ui-accordion .ui-accordion-header {
  border: none;
  background: #54585d;
  color: #FFFFFF;
  font-size: 16px;
}

.nav-header {
  padding: 5px;
  font-size: 14px;
}

.nav-item {
  margin-left: 15px;
}

.ui-accordion-ul {
  list-style: none;
}

.ui-accordion .ui-state-active {
  border: none;
  background: #54585d;
  color: #7ac142;
}

.ui-accordion .ui-accordion-content-active {
  background: #54585d;
  color: #FFFFFF;
}

.ui-accordion-ul li {
  padding: 5px;
}

.chart-box {
  width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}

.chart-min-box {
  padding: 20px;
  border: 1px solid #c6c8ca;
  height: 250px;
  min-height: 250px;
  clear: both;
  width: 350px;
  margin-top: 0px;
}

.chart-min-box span {
  padding: 5px;
}

.chart-mid-box {
  padding: 20px;
  border: 1px solid #c6c8ca;
  height: 250px;
  min-height: 250px;
  clear: both;
  width: 760px;
  margin-top: 0px;
}

.chart-max-a-box {
  padding: 20px;
  /*border: 1px solid #c6c8ca;*/
  height: 240px;
  min-height: 240px;
  width: 600px;
  margin-top: 0px;
  overflow: auto;
}

.chart-max-b-box {
  /*padding: 20px;*/
  /*border: 1px solid #c6c8ca;*/
  height: 250px;
  min-height: 250px;
  clear: both;
  width: 550px;
  margin-top: 0px;
}

.chart-max-box {
  padding: 20px;
  border: 1px solid #c6c8ca;
  height: 300px;
  min-height: 300px;
  clear: both;
  width: 1178px;
  margin-top: 0px;
}

.description {
  display: inline-block;
  padding: 5px 0 0 15px;
  font-size: 18px;
  opacity: .9;
}

.description .description-stats {
  padding-top: 8px;
  font-size: 24px;
}

.description .description-stats span {
  padding-top: 8px;
  font-size: 24px;
}

.layui-table-view {
  margin: 0;
}

.layui-link-btn {
  height: 30px;
  line-height: 30px;
  color: #000000;
  background-color: #dcdfe2;
}

.layui-btn-group .layui-btn {
  border-left: none;
  border-right: 1px solid rgba(255, 255, 255, .5);
}

.task-template-help-table td > code {
  cursor: grabbing;
  background: -webkit-gradient(linear, left top, right top, from(#fce4ed), to(#ffe8cc));
  background: linear-gradient(to right, #fce4ed, #ffe8cc);
}


svg {
  overflow: visible;
}

.nav-search {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16rem;
  margin-top: -3.5rem;
  width: 32rem;
  height: 7rem;
}

.nav-search:not(.active) {
  cursor: pointer;
}

.nav-search-svg {
  position: absolute;
  top: 20px;
  left: 45px;
  width: 50%;
  height: 50%;
}

.nav-search-svg__path {
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
}

.nav-search-input {
  position: relative;
  width: 27rem;
  height: 6rem;
  padding: 1.2rem 0 1.2rem 2.5rem;
  background: transparent;
  outline: none;
  border: none;
  font-size: 3.6rem;
  color: #fff;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.nav-search-input.visible {
  z-index: auto;
  opacity: 1;
}

.nav-search-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: -1;
}

.nav-search-close.visible {
  z-index: auto;
}

.nav-search-close.visible:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s;
  transition: transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s;
}

.nav-search-close.visible:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.2s;
  transition: transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.2s;
}

.nav-search-close:before, .nav-search-close:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 100%;
  height: 0.6rem;
  background: #fff;
  border-radius: 0.5rem;
  opacity: 0;
}

.nav-search-close:before {
  -webkit-transform: rotate(-45deg) translateX(2rem);
  -ms-transform: rotate(-45deg) translateX(2rem);
  transform: rotate(-45deg) translateX(2rem);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.1s 0.1s;
  transition: transform 0.2s, opacity 0.1s 0.1s;
}

.nav-search-close:after {
  -webkit-transform: rotate(45deg) translateX(2rem);
  -ms-transform: rotate(45deg) translateX(2rem);
  transform: rotate(45deg) translateX(2rem);
  -webkit-transition: -webkit-transform 0.2s 0.2s, opacity 0.1s 0.3s;
  transition: transform 0.2s 0.2s, opacity 0.1s 0.3s;
}

.boarding-pulse {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgba(95,139,250,.65);
  box-shadow: 0 0 0 rgba(95,139,250,.65);
  -webkit-animation: boarding-pulse 2s infinite;
  animation: boarding-pulse 2s infinite;
}

@media print {
  .boarding-pulse {
    visibility: hidden;
  }
}

.boarding-pulse:hover {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes boarding-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(95,139,250,.65);
  }

  70% {
    box-shadow: 0 0 0 1rem rgba(95,139,250,0);
  }

  to {
    box-shadow: 0 0 0 0 rgba(95,139,250,0);
  }
}

@keyframes boarding-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(95,139,250,.65);
  }

  70% {
    box-shadow: 0 0 0 1rem rgba(95,139,250,0);
  }

  to {
    box-shadow: 0 0 0 0 rgba(95,139,250,0);
  }
}

.boarding-pulseWrapper {
  margin: -1.5rem 0 0 -1.5rem;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

