{% load i18n %}
<div id="department_tree" style="margin:15px; height: 300px; width: 450px;">
  <div>
      <input type="text" id="id_department_tree" name="parent_depart" autocomplete="off" class="layui-input">
  </div>
</div>
<script>
  layui.use([], function () {
    var treeselect = layui.treeselect;
    treeselect.render({
        elem: "#id_department_tree",
        url: '/api/departments/depart_tree/?spread=all',
        method: "GET",
        search: true
      });
  });
</script>