.node_name {
  font-size: 14px;
  margin-left: 2px;
  text-align: left;
}

.ztree li a {
  margin-bottom: 3px;
}

.ztree, .ztree * {
  background: white;
}

.ztree, .ztree li a,
.ztree li span.button::before,
.ztree li span.button.ico_open::before,
.ztree li span.button.ico_close::before,
.ztree li span.button.ico_docu::before,
span.tmpzTreeMove_arrow::before {
  color: #444;
}

.ztree li a.curSelectedNode {
  background-color: transparent;
  color: #5FB878;
}
