<div id="message_add" style="padding: 10px; height: 250px;">
    <form class="layui-form" action="" lay-filter="message_add">
        <div class="layui-form-item">
            <label class="layui-form-label">Message ID<span class="required">*</span></label>
            <div class="layui-input-block">
                <input id="id_sn" type="text" name="message_id" lay-verify="sn" autocomplete="off" placeholder="0 ~ 9999" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Start Time<span class="required">*</span></label>
            <div class="layui-input-inline">
                <input type="text" name="start_time" id="{{ model_name }}-sms_start" lay-verify="sms_start" placeholder="yyyy-MM-dd hh:mm:ss" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Duration<span class="required">*</span></label>
            <div class="layui-input-block">
                <input id="id_duration" type="number" name="duration" lay-verify="duration" autocomplete="off" placeholder="mimute" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Content<span class="required">*</span></label>
            <div class="layui-input-block">
                <input id="id_content" type="text" name="content" lay-verify="sn" autocomplete="off" placeholder="max langth 300" class="layui-textarea">
            </div>
        </div>
    </form>
</div>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
  layui.use(['form', 'layedit', 'laydate'], function(){
      var laydate = layui.laydate;
        //日期
        var date = new Date();
        var startDate = laydate.render({
          elem: '#{{ model_name }}-sms_start',
          type: 'datetime',
          lang: 'en',
        });
    });
</script>