{% extends "data_grid.html" %}
{% block filter_data %}
  <form class="layui-form" action="">
    <div class="layui-inline">
      <label for="" class="layui-form-label">Code</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_work_code" type="text" name="{{ model_name }}-filter_work_code" lay-verify="required"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label for="" class="layui-form-label">Name</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_work_name" type="text" name="{{ model_name }}-filter_work_name"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label for="" class="layui-form-label">Area</label>
      <div class="layui-input-inline">
        <input id="{{ model_name }}-filter_area_name" type="text" name="{{ model_name }}-filter_area_name"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline" style="width:93px; margin-bottom: 7px">
      <div class="layui-input-inline">
        <select name="{{ model_name }}-search_type" id="{{ model_name }}-search_type">
          <option value='search'>Contain</option>
          <option value='exact'>Exact</option>
        </select>
      </div>
    </div>
    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
  </form>
{% endblock filter_data %}
{% block filter_func %}
  <script>
    $('#{{ model_name }}-search_btn').on('click', function () {
      let work_code = $("input[name='{{ model_name }}-filter_work_code']").val();
      let work_name = $("input[name='{{ model_name }}-filter_work_name']").val();
      let area_name = $("input[name='{{ model_name }}-filter_area_name']").val();
      let search_type = $('#{{ model_name }}-search_type').val() || null;
      let where = {};
      let curTable = layui.table.thisTable.that['id_grid_{{ model_name }}'];
      if (search_type === 'search') {
        where = {
          'work_code_icontains': work_code,
          'work_name_icontains': work_name,
          'area_name': area_name
        }
      } else {
        where = {
          'work_code': work_code,
          'work_name': work_name,
          'area_name': area_name
        }
      }
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      let table = layui.table;
      table.reload('id_grid_{{ model_name }}', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#{{ model_name }}-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-filter_work_code']").val('');
      $("input[name='{{ model_name }}-filter_work_name']").val('');
      $("input[name='{{ model_name }}-filter_area_name']").val('');
    });
  </script>
{% endblock filter_func %}