{% load i18n %}
<div id="workcode_edit" style="margin:15px">
    <form action="" method="post" class="layui-form" lay-filter="workcode_edit">
        <div class="layui-form-item">
            <label class="layui-form-label">Code<span class="required">*</span></label>
            <div class="layui-input-block">
              <input id="id_work_code" type="number" name="work_code" lay-verify="work_code" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Name<span class="required">*</span></label>
            <div class="layui-input-block">
              <input id="id_work_name" type="text" name="work_name" lay-verify="work_name" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Area<span class="required">*</span></label>
            <div class="layui-input-block">
              <input id="id_area" type="text" name="area" lay-verify="area" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
    </form>
</div>

<script>
  function init_edit_data(data_url) {
    layui.use(['form', 'layedit', 'laydate'], function () {
      var form = layui.form
        , layer = layui.layer
        , layedit = layui.layedit
        , laydate = layui.laydate;

      //表单初始赋值
      $.ajax({
        url: data_url,
        type: "GET",
        dataType: "json",
        data: {'limit': 1000},
        headers: {'content-type': 'application/json',},
        success: function (response, status, xhr) {
          // console.log(response)
          form.val('workcode_edit', response)
        },
        error: function (response) {
          alert(response.responseText);
        }
      });
    });
  }
</script>