{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}WDMS | Change password{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/change_password.css' %}" />
{% endblock head %}

{% block content %}
  <br><br><br><br><br>
	<div style='text-align:center'>
	  <form role="form" method="post" action="{% url 'change_password' %}">
	  {% csrf_token %}
      <table>
        <tbody>
          {{ form.id }}
          {% for field in form.visible_fields %}
            <div>
              {% for error in field.errors %}
              <div class="error">*{{ error }}</div>
              {% endfor %}
              <div class="{{ field.name }}">
              <label for="{{ field.label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.help_text %}
              <span class="help-block">{{ field.help_text|safe }}</span>
              {% endif %}
              </div>
           </div>
           <br>
          {% endfor %}

          <div style="text-align:center">
              <input type="submit" value="Submit"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="submit" value="Return" onclick="window.history.back(); return false;" />
          </div>

        </tbody>
      </table>
    </form>
	</div>
{% endblock content %}