<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>WDMS-Login</title>
    <script src="/static/jslib/locales/i18n.js?v=1.2"></script>
    <script src="/static/jslib/locales/i18n_en.js?v=1.2"></script>
    <script src="/static/jslib/jquery-ui/jquery-2.2.4.min.js?v=2.2.4"></script>
    <link rel="shortcut icon" href="/static/images/WDMS.ico" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/layui/css/layui.css?v=2.4.3">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/noty/noty.css?v=3.1.4"/>
    <div id="bg_image" class="bg_image_class" style='background-image: url("/static/img/login_background.jpg");'></div>
</head>

<body>
    <div id="container" class='login'>
        <div></div>
        <div class="admin-login-background">
            <form class="layui-form" action="">
                <div>
                    <i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
                    <input type="text" name="username" lay-verify="username" placeholder="Username" autocomplete="off" class="layui-input admin-input admin-input-username">
                </div>
                <div>
                    <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
                    <input type="password" name="password" lay-verify="password" placeholder="Password" autocomplete="off" class="layui-input admin-input admin-input-password">
                </div>
                <button class="layui-btn admin-button" lay-submit lay-filter="loginForm">Login</button>
            </form>
        </div>
    </div>
    <script src="/static/layui/layui.js?v=2.4.5" type="text/javascript"></script>
    <script src="/static/noty/noty.min.js?v3.1.4" type='text/javascript'></script>
    <script src="/static/jslib/cookies.js"></script>
    <script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form,
            layer = layui.layer

        var login_check = {{ login_check|safe }};
        var license_info = {{ license_info|safe }};

        if(login_check === 0) {
            var display_msg = ''
            for (var prop in license_info) {
              display_msg += '<p>' + prop + ": " + license_info[prop] + '</p>'
            }
            layer.alert(display_msg, {title: 'License',
                                       btn: [],
                                       icon: 6, 
                                       offset: 'rb', 
                                       shade: 0});
        }

        //自定义验证规则
        form.verify({
            username: function(value) {
                if (value.length < 1) {
                    return 'username not be null';
                }
            },
            password: function(value) {
                if (value.length < 1) {
                    return 'username not be null';
                }
            }
        });

        //监听提交
        form.on('submit(loginForm)', function(data) {
            var loadIndex = layer.load();
            // $.ajax({
            //     url: "/api/api-token-auth/",
            //     type: "POST",
            //     headers: {'content-type': 'application/json'},
            //     data: JSON.stringify(data.field),
            //     success: function(response) {
            //         Cookies.set("auth-token", 'Token ' + response.token, {'path':'/'});
            //         layer.close(loadIndex);
            //         window.location.href='/'
            //     },
            //     error: function(response) {
            //         console.log(response)
            //         layer.close(loadIndex);
            //         layer.msg('username or password error', {icon: 5, anim: 6});
            //     }
            // });
            // return false;
            $.ajax({
                url: "/api/jwt-api-token-auth/",
                type: "POST",
                headers: { 'content-type': 'application/json' },
                data: JSON.stringify(data.field),
                success: function(response) {
                    Cookies.set("auth-token", 'JWT ' + response.token, { 'path': '/' });
                    layer.close(loadIndex);
                    window.location.href = '/'
                },
                error: function(response) {
                    console.log(response)
                    layer.close(loadIndex);
                    layer.msg('username or password error', { time: 1000 });
                }
            });
            return false;
        });
    });

    // 登陆的时候如果不是chromium内核给出提示
    $(document).ready(function() {
        setTimeout(function() {
             if(navigator.userAgent.indexOf("Chrome") == -1) {
                var notify_obj = new Noty({
                    text: 'Hi! System had found the browser is not Chrome-like. For a better experience, use chrome browser please.',
                    layout: 'bottomRight',
                    type: 'information',
                    closeWith: ['click'],
                    timeout: 10000,
                    callbacks: {}
                }).show();
            } 
            // else {
            //     redirect('{{ redirect_module }}');
            // }
        }, 1000);
        // turn_colored_outline()();
    });
    </script>
</body>

</html>