{% load i18n %}
<div id="user_pop_login" style="margin:15px">
  <form action="" method="post" class="layui-form" lay-filter="user_pop_login">
    <div class="layui-form-item">
      <label class="layui-form-label">Username<span class="required">*</span></label>
      <div class="layui-input-block">
        <input id="id_username" type="text" name="username" lay-verify="username" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">Password<span class="required">*</span></label>
      <div class="layui-input-block">
        <input id="id_password" type="password" name="password" lay-verify="password" autocomplete="off" placeholder="" class="layui-input">
      </div>
    </div>
  </form>
</div>
<script>
</script>

