<!DOCTYPE html>

<html>
<head>
</head>

<body>
<div style="padding: 10px;min-height: 350px;min-width: 650px">
  <table class="layui-hide" id="cmd_result"></table>
</div>

{% verbatim %}
  <script type="text/html" id="return_valueTpl">
    {{#  if(d.return_value === '0') { }}
      Success
    {{#  } else { }}
      {{ d.return_value }}
    {{#  } }}
  </script>
{% endverbatim %}

</body>
</html>