{% extends "data_grid.html" %}

{% block special_display %}
  {% verbatim %}
  <script type="text/html" id="statusTpl">
    {{#  if(d.status === '-1') { }}
      <a><img title="not authorized" src="/static/img/not-authorized-inco.png" style="margin-bottom: 3px;"></a>
    {{# } else if(d.status === '0') { }}
      <a><img title="offline" src="/static/img/offline-inco.png" style="margin-bottom: 3px;"></a>
    {{# } else if(d.status === '1') { }}
      <a><img title="online" src="/static/img/online-inco.png" style="margin-bottom: 3px;"></a>
    {{# } else if(d.status === '2') { }}
      <a><img title="communicating" src="/static/img/communicating-inco.png" style="margin-bottom: 3px;"></a>
    {{#  } else { }}
      {{ d.status }}
    {{#  } }}
  </script>
  <script type="text/html" id="is_master_deviceTpl">
    {{#  if(d.is_master_device === '111000000000') { }}
      <a><img title="not authorized" src="/static/img/not_register_device.png" style="margin-top: 2px;"></a>
    {{# } else if(d.is_master_device === '111111111111') { }}
      <a><img title="offline" src="/static/img/register_device.png" style="margin-top: 2px;"></a>
    {{#  } else { }}
      {{ d.is_master_device }}
    {{#  } }}
  </script>
  {% endverbatim %}
{% endblock special_display %}

{% block filter_data %}
  <form class="layui-form" action="">
    <div class="layui-inline" style="margin-left: -50px">
      <label for="" class="layui-form-label">SN</label>
      <div class="layui-input-inline" style="width:120px;">
        <input id="{{ model_name }}-filter_sn" type="text" name="{{ model_name }}-filter_sn" lay-verify="required"
               autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline" style="margin-left: -50px">
      <label for="" class="layui-form-label">Name</label>
      <div class="layui-input-inline" style="width:120px;">
        <input id="{{ model_name }}-filter_alias" type="text" name="{{ model_name }}-filter_alias"
               lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline" style="margin-left: -50px">
      <label for="" class="layui-form-label">Area</label>
      <div class="layui-input-inline" style="width:120px;">
        <input id="{{ model_name }}-filter_area" type="text" name="{{ model_name }}-filter_area" lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline" style="margin-left: -50px">
      <label for="" class="layui-form-label">State</label>
      <div class="layui-input-inline" style="width:120px;">
        <select name="{{ model_name }}-filter_status" id="{{ model_name }}-filter_status">
          <option value=''>------</option>
          <option value='1'>Online</option>
          <option value='0'>Offline</option>
          <option value='-1'>NotAuthorized</option>
          <option value='2'>Communicating</option>
        </select>
      </div>
    </div>
    <div class="layui-inline" style="width:93px; margin-bottom: 7px">
      <div class="layui-input-inline">
        <select name="{{ model_name }}-search_type" id="{{ model_name }}-search_type">
          <option value='search'>Contain</option>
          <option value='exact'>Exact</option>
        </select>
      </div>
    </div>
    <a data-type="reload" id="{{ model_name }}-search_btn" title="Search" href="#">
      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
    </a>
    &nbsp;
    <a data-type="reload" id="{{ model_name }}-clear_btn" title="Clear" href="#">
      <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
    </a>
  </form>
{% endblock filter_data %}
{% block filter_func %}
  <script>
    $('#{{ model_name }}-search_btn').on('click', function () {
      let sn = $("input[name='{{ model_name }}-filter_sn']").val()
      , alias = $("input[name='{{ model_name }}-filter_alias']").val()
      , area = $("input[name='{{ model_name }}-filter_area']").val()
      , status = $('#{{ model_name }}-filter_status').val() || null
      , search_type = $('#{{ model_name }}-search_type').val() || null
      , where = {}
      , table = layui.table
      , curTable = layui.table.thisTable.that['id_grid_{{ model_name }}'];
      if (search_type === 'search') {
        where = {
          'sn_icontains': sn,
          'alias_icontains': alias,
          'area_name_icontains': area,
          'status': status
        }
      } else {
        where = {
          'sn': sn,
          'alias': alias,
          'area_name': area,
          'status': status
        }
      }
      for (key of Object.keys(curTable.config.where)) {
        // 删除条件为''的参数，否则layui会默认保留上一次的参数
        delete curTable.config.where[key]
      }
      table.reload('id_grid_{{ model_name }}', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: where
      });
    });
    $('#{{ model_name }}-clear_btn').on('click', function () {
      $("input[name='{{ model_name }}-filter_sn']").val('');
      $("input[name='{{ model_name }}-filter_alias']").val('');
      $("input[name='{{ model_name }}-filter_area']").val('');
    });
  </script>
{% endblock filter_func %}